[2017-01-09 00:00] sanpoChew opened #1 "Nicer way to write filters?"
So I got this working by looking at how the php is structured and carrying it over into objects, it's pretty verbose though:

[code]

any better ways to do it?

Thanks,

[2017-01-09 17:16] WellingGuzman commented on #1
Hey @sanpoChew, do you have any suggestion?

[2017-01-10 12:51] sanpoChew commented on #1
Hi @WellingGuzman I wasn't really suggesting changing something if this is how it's meant to work, just that there's no javascript example in the [docs](https://api.getdirectus.com/1.1/#API_Endpoints) so I thought I might be missing something.

Looking back at it I think it was just having the symbol as a key that was rubbing me the wrong way and after changing it to eq or just omitting the object

[2017-01-10 22:20] RijkvanZanten commented on #1
Are you using API version 1.1? The columns param is only available in that version.

[2017-01-10 22:27] HauntedSmores opened #2 "Possible need to refactor promises"
By using deferred and the way bundling is queued, you get some unexpected behavior in Angular 2.

Data gets loaded from the server just fine, but does not render in the view until you make an action (click something) and "wake up" the view. According to people on the Angular 2 team, this is commonly a problem with SDK's and third party libraries and their bundling order/shipping their own polyfill

[2017-01-10 22:29] RijkvanZanten commented on #2
Could you provide us with an actual Angular implementation example which results in this quirky behavior?

[2017-01-10 23:20] sanpoChew commented on #1
Yeah I'm using 1.1, I've specified it when initializing the SDK like the example in the README, everything else I have tried seems to work perfectly it's just columns. It doesn't error or anything so I guess it's just getting ignored for some reason

[2017-01-11 12:17] RijkvanZanten commented on #1
@sanpoChew @WellingGuzman It seems like this is an issue in the Directus API itself instead of the JavaScript SDK. I've just tried out the param on a fresh installation on the development branch (with api 1.1) and it gets ignored there as well.

`http://local.directus:8888/api/1.1/tables/test/rows?columns=title`

[2017-01-11 12:17] #1 closed

[2017-01-11 21:39] WellingGuzman commented on #1
Yes, this is an API issue, I will fix this, @sanpoChew thanks for reporting this. You don't have to open another ticket.

[2017-01-16 01:13] Alxmerino opened #3 "No switch case for PUT verb"
I noticed that there are multiple request made with the `PUT` verb but there is no switch case for it in the actual method.

Example: https://github.com/directus/directus-sdk-javascript/blob/master/src/methods/items.js#L79

[2017-01-16 01:41] WellingGuzman commented on #3
Closed by https://github.com/directus/directus-sdk-javascript/issues/4

[2017-01-16 01:41] #3 closed

[2017-02-23 04:07] rosswaycaster opened #5 "createFile is throwing a 500 Internal Server Error."
I've tried this on both 6.3.6 and 6.3.7

My code running on node:

`client.createFile({
                name: 'test.png',
                type: 'image/png',
                data: 'base64stringhere'
            }, function(err, data){
                if (err) {
                    console.log(err);
                    throw err;
                }
                console.log(data);
            });
`

[2017-02-23 17:04] rijkvanzanten commented on #5
Hi @rosswaycaster, thanks for reporting this!

@WellingGuzman Could this be an issue in core? I'm getting this result when trying to create a file 'by hand' through the api endpoint:

[code]

[2017-02-23 19:00] WellingGuzman commented on #5
Hey @rosswaycaster + @rijkvanzanten ,

The issue with `Automatically populating $HTTP_RAW_POST_DATA is deprecated` is a PHP issue that needs to be disabled by adding `always_populate_raw_post_data = -1` in php.ini

Are both experimenting the same issue?

[2017-02-23 19:16] rijkvanzanten commented on #5
Ah, you're right. This was also returning http 200 sooo I wasn't paying attention ^^

Anyhow, the 500 server error is `Argument #1 is not an array`

[code]

[2017-02-23 20:12] rosswaycaster commented on #5
I was finally able to get an image to upload via Postman with these settings:
<img width="1076" alt="screen shot 2017-02-23 at 2 06 26 pm" src="https://cloud.githubusercontent.com/assets/1231836/23276974/d38783c2-f9d1-11e6-8ce5-65328535152b.png">
I will try the Javascript SDK again, and I'll be sure to send the data, title, name, and type.

[2017-02-23 20:26] rosswaycaster commented on #5
The Javascript SDK is still throwing a 500 error when trying to reach '/api/1/tables/directus_files/rows'

Shouldn't it be trying to POST to '/api/1/files' instead of '/api/1/tables/directus_files/rows'?

[2017-02-23 20:27] rijkvanzanten commented on #5
Yes exactly. The SDK now tries to save the image data to the database, but doesn't upload the file. I'll start working on a fix immediately!

[2017-02-23 20:49] rijkvanzanten commented on #5
I've just updated the module to `1.1.3` on npm. Could you let me know if it works for you @rosswaycaster?

[2017-02-23 21:56] rosswaycaster commented on #5
@rijkvanzanten it works now! Thank you so much! 🙌🏽

[2017-02-23 22:02] #5 closed

[2017-03-14 20:52] joshiefishbein opened #8 "getItems arguments documented improperly"
In regards to options, your documentation details that the default for item status is `1`. But this is not the case. When running `client.getItems()` it will return all items, whether they are active or not. I had to pass in options declaring that I wanted `status: 1` only.

In addition to this, it should also be documented that `sort_order` requires the `sort` argument to be filled, even though `

[2017-03-16 19:27] WellingGuzman commented on #8
Hey @joshiefishbein,

I will take a look at that issue right now, it should be default to active only.

I will also make sure this is fixed, it should always be default to primary key

That's true and we've been working on it, using a more standard convention, those are legacy parameter that we keep supporting.

---

Which API version are you using?

Thanks I will get back to you as soon as it's f

[2017-03-16 20:10] joshiefishbein commented on #8
@WellingGuzman I'm using 1.1.

Thanks for looking into all this.

[2017-05-28 11:11] newah opened #10 "errors in react-native"
Using directus-sdk-javascript with react native gives errors as it's using "request" module for executing requests which has dependencies on crypto and tls. These aren't natively supported in react-native.

request module could be replaced with fetch.

[2017-05-28 11:37] rijkvanzanten commented on #10
Hi @newah, thanks for reaching out!

Are you referring to the browser-native `Fetch` API or [the fetch package](https://www.npmjs.com/package/fetch)?

Unfortunately, browser-native Fetch isn't available in Node. Do you know of any request package which supports all three target? (Node, browser & RN).

[2017-05-28 11:50] newah commented on #10
fetch for reactnative https://facebook.github.io/react-native/docs/network.html . Yes, it doesn't support other platforms.

It's only the "performRequest" inside base.js that's using "const request = require('request');"
So maybe we could add dynamic calling based on platform/technology and still use request for browser, but fetch for RN?

[2017-05-28 12:00] rijkvanzanten commented on #10
That sounds like a nice solution! We could also replace the request library in favor of a more compatible one all together. It seems like RN supports XMLHttpRequest / Fetch and that it should work with something like [axios](https://github.com/mzabriskie/axios). That way we don't have to perform platform checks 😃

[2017-05-28 12:11] newah commented on #10
Actually I even started switching request to axios in base.js. But couldn't pass access token (bearer auth header) nicely. Problems with authentication persist only on iOS.

I saw https://www.npmjs.com/package/react-native-axios - react native words and though these are different axios implementations. But apparently they're the same ;)

So yeah, this should be a perfect solution if passing bearer

[2017-05-28 12:15] rijkvanzanten commented on #10
Hmm, we could also use the `access_token` url param instead of the bearer token if that makes implementing axios a little easier?

[2017-05-28 12:17] newah commented on #10
That makes it easy. But would need to check if there're no problems with other params.

Also, probably can't/shouldn't pass it as url param for post? :)

[2017-05-28 12:19] rijkvanzanten commented on #10
Great question! I believe the auth param is available on all endpoints, but that's something we'd have to test 👍

[2017-05-28 12:25] newah commented on #10
I'll try axios again when I have some time. Maybe I missed something as thing like this would make a shit-storm of complaints ;)

[2017-05-28 12:33] rijkvanzanten commented on #10
Please let me know how it goes! And feel free to open up a PR if you have a fix 😄

[2017-05-31 16:14] ohmfox opened #11 "Error with Client-side SDK with getItem"
I've got the SDK set up on the client side and I have an API key set up like so:

[code]

If I access the API from my browser, while logged in it works. It could be something related to CORS - it looks like it is having a problem with the OPTIONS request initially.

Let me know if you need more info! Thanks!

[2017-05-31 18:52] WellingGuzman commented on #11
Hey @ohmfox, did you enable CORS in the `configuration.php` file?

[2017-06-01 17:06] ohmfox commented on #11
Hey @WellingGuzman,

We just did. We are now getting this error:

```Fetch API cannot load https://clients.byfrost.io/api/1.1/tables/IfBattery_Home/rows/1. Response to preflight request doesn't pass access control check: No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'https://30f11f27.ngrok.io' is therefore not allowed access. If an opaque response serves your

[2017-06-01 17:09] ohmfox commented on #11
Also, might be worth mentioning we are using the docker build for this. We might have an error there. Checking it out.

[2017-06-01 17:20] rijkvanzanten commented on #8
@WellingGuzman How are things progressing with these issues? Should we move them to the api-docs / main Directus repo?

[2017-06-01 17:33] WellingGuzman commented on #8
We should move the main issue to directus repo, and discuss the default status value.

[2017-06-01 17:50] ohmfox commented on #11
Just fixed it! Thanks for the help!

[2017-06-01 17:50] #11 closed

[2017-06-01 17:59] WellingGuzman commented on #11
Hey @ohmfox, glad that you solve the problem, could you care in share what happened and how you solve it, for our future generations? :)

[2017-06-02 18:13] dalbinaco opened #12 "Express app crashes when the SDK throws an error"
I was testing some 404 and timeout scenarios in a Express middleware using this request:

[code]

So I stopped the Directus server to simulate a timeout scenario and got this logged, and then Express crashed:

[code]

[2017-06-03 12:14] rijkvanzanten commented on #2
I wasn't able to reproduce this issue, but the way the api uses promises is going to be overhauled in `2.0.0`

[2017-06-03 18:37] rijkvanzanten commented on #12
Hi @dalbinaco, thanks for the heads up! I've pushed a new version which uses native promises reject for all errors. Could you try out the beta version of `v2.0.0` by running `npm install directus-sdk-javascript@beta`?

Let me know if that fixes your problem 😃

[2017-06-03 18:39] rijkvanzanten commented on #10
@newah I've pushed a new version which replaces `request` with `axios`. Could you try out the beta version of `v2.0.0` by running `npm install directus-sdk-javascript@beta`?

Let me know if that fixes the RN problems 😃

[2017-06-03 18:39] #2 closed

[2017-06-03 18:47] rijkvanzanten commented on #8
I've moved the issues to the correct repo's 👍  I'll close this one

[2017-06-03 18:47] #8 closed

[2017-06-04 13:30] newah commented on #10
@rijkvanzanten pretty amazing ;) that works exactly as expected! Will test with filtering and all soon :)

Thanks!

There's a missed comma in tutorial:
const client = new RemoteInstance({
  url: 'http://instance.directus.io/api/1.1/'**,**   <------ this comma is missing
  accessToken: [user-token] // optional, can be used without on public routes
});

[2017-06-04 13:48] rijkvanzanten commented on #10
Great catch! I'll fix that in a minute. Please let us know if you run into any other problems 😄

[2017-06-04 13:48] #10 closed

[2017-06-04 14:57] rijkvanzanten commented on #12
We have replaced `request` with `axios` which `rejects` a promise on a connection error. It works just like expected on my end now.

Please reopen this issue if this fix didn't fix it for you!

[2017-06-04 14:57] #12 closed

[2017-06-05 11:26] dalbinaco commented on #12
@rijkvanzanten Yes, it is fixed! Thanks.

[2017-06-06 20:15] ohmfox commented on #11
We had to add CORS Headers to the Nginx reverse proxy we had the server running behind.

[2017-06-08 00:16] simonmilz opened #14 "getUsers and getUser is missing"
Those two endpoints are missing, see: https://api.getdirectus.com/1.1/#Getting_Data

[2017-06-08 00:47] WellingGuzman commented on #14
Thanks for pointing it out @simonmilz,

We will add them soon, and it will be included in the next release `2.0.1`

[2017-06-08 07:56] rijkvanzanten commented on #14
These endpoints are only available in the PHP SDK at the moment. The JS SDK provides methods for every API URL endpoint and there isn't a specific endpoint for getting users.

It is currently possible to retrieve the users by using `getItems('directus_users')`

I could add it as a convenience method though. Thoughts @WellingGuzman?

[2017-06-08 21:27] WellingGuzman commented on #14
This was closed by https://github.com/directus/directus-sdk-javascript/commit/b073590b30b4e9f43016adc22ac0bd0c473f42ef

[2017-06-08 21:27] #14 closed

[2017-07-13 10:16] kauaicreative opened #16 "Creating wrong UR: api/1.1/tables/tables/wp_posts/rows/rows"
[code]

returns 404 (Not Found)
http://directus2.dev/api/1.1/tables/tables/wp_posts/rows/rows

The output should read
http://directus2.dev/api/1.1/tables/wp_posts/rows

Is this a bug or am I doing something wrong?

Thanks.

[2017-07-13 10:25] rijkvanzanten commented on #16
Hi @kauaicreative! Just entering the table name is enough for this method. It adds the tables/ and /rows for you 👍🏻

[2017-07-13 10:25] #16 closed

[2017-07-13 11:01] kauaicreative commented on #16
Thanks that makes sense - I see all the properties now.

[2017-09-05 20:08] dhardenbicker opened #17 "getUser does not accept double-digit parameters as id"
getUser does not accept double-digit parameters with Directus Api 1.1 and Directus 6.4.0.

eg. "https://localhost/directus/api/1/users/24" gets Error 404

Instead of
[code]
the users path should be:
[code]

in Browser:
"https://localhost/directus/api/1/users/?id=24"

Successfully tested with react native app.

[2017-09-05 20:40] WellingGuzman commented on #17
Hey @dhardenbicker, thanks for reporting this.

This is an issue on the API, we've fixed and it will be release in the next version (6.4.3)

Closed by https://github.com/directus/directus/commit/58c946a760281a44264a9d5a17fd2d1028932140

[2017-09-05 20:40] #17 closed

[2017-09-05 21:37] rijkvanzanten commented on #17
And make sure to use API version 1.1 instead of 1, as it's more stable and has a richer feature set 🙂

[2017-09-26 01:56] jr-mhi opened #19 "Support nested objects for array-like query params"
getItems with sort parameter seems to be broken. The PHP expects an associative array: `array("sort" => "DESC")`, but sending an Array from JS (`client.getItems('articles', {sort: ['date']})`) fails since it's interpreted as `('0'=>'sort')`. Trying JSON `{date:'DESC'}` also fails since it gets interpreted as a String.

[2017-09-26 12:44] rijkvanzanten commented on #19
The syntax of the API param is `?order[field]=ASC`. Since the params get translated to the query string directly (key: value => key=value), this should work by running:
[code]

So technically, the SDK isn't broken per se, but uses a somewhat off-putting syntax in JS.

I'll leave this open as a feature request to be able to support something like:

[code]

which would also work for other parameters

[2017-09-26 23:46] jr-mhi commented on #19
Aah! I see, if possible it would be nice to be able to use a little more standard syntax, but non-standard is still much better than broken. Thank you very much!

[2017-10-20 12:16] Alekshar opened #20 "Add an authentication method"
While using the SDK I frequently have to get by my self the access token.

So I am wondering if there is any reason why there is no method in the SDK to get the token ?
If none, I'll be happy to try a pull request for this.

[2017-10-20 14:39] rijkvanzanten commented on #20
Good one! There's no real reason that it isn't included, other than the SDK expects an access token on initialization so it can use it for further requests.

If we implement the method to request the access token, I guess we also need a method to save the newly fetched access token to the SDK object for further requests. What are your thoughts on this?

We'd love to see a PR for this 😄

[2017-10-30 12:43] mkleywegt commented on #19
This is an easy fix using a querystring parsing and stringifying library like the [qs package](https://www.npmjs.com/package/qs), as per the [Axios docs](https://github.com/axios/axios#request-config):
[code]
Can confirm that this works using version 2.2.0

[2017-10-30 14:20] #19 closed

[2017-10-31 15:42] #20 closed

[2017-12-04 04:48] skadimoolam opened #24 "Adding a License to this repo"
Hi,
I kindly request directus team to add a License to this repo. This has not been an issue for me thus far as I have used directus-sdk-javascript for personal projects. I am thinking of using this library for a client project  where licenses become an issue.

Thanks

[2017-12-04 12:33] rijkvanzanten commented on #24
Hey @skadimoolam!

There is a license in this repo?
https://github.com/directus/directus-sdk-javascript/blob/master/LICENSE

Let me know if I understand your request wrong.

✌🏻

[2017-12-04 12:33] #24 closed

[2018-01-15 21:03] gielcobben opened #26 "Nested parameters fail"
Hello there,

How do I rewrite the [get parameters](https://api.getdirectus.com/1.1/#Get_Parameters) with this javascript sdk? I'm not sure how I can get every tag where `slug` equals `hello` or `world` for example.

I tried something like this:

[code]

Thanks,

Giel

[2018-01-15 22:17] rijkvanzanten commented on #26
Hey @gielcobben!

This has been requested before in https://github.com/directus/directus-sdk-javascript/issues/19, and as far as I know should've been implemented in https://github.com/directus/directus-sdk-javascript/commit/67d28777ebd93ec133961178e623ce7685f4894a.. However, it seems like the `qs` library doesn't support multilevel queries! 😟

https://github.com/sindresorhus/query-string#nesting

[2018-01-15 23:09] gielcobben commented on #26
hmm I get this error: `Request failed with status code 500`.

[2018-01-16 17:11] rijkvanzanten commented on #26
Ohh oops, this will transform into `filters[slug[eq]]=hello,world`.. sorry ‘bout that. Writing the full thing at the top level should do it..

[code]

[2018-01-16 17:45] rijkvanzanten commented on #26
Let’s find out if there’s a good alternative of qs which does supported this style of nesting.

[2018-01-25 21:08] Padle opened #28 "deleteBulk does not work"
Hi all.
I am currently working on a project with Directus as backend and using this sdk in my current Node.js project. Some of the data in my database must be updated daily.
Since checking all data would be too time-consuming, all data will be replaced every time with the help of the api. I am using the sdk to read all data of a table, save the IDs, delete all data of the table with the help of it

[2018-01-25 21:30] rijkvanzanten commented on #28
Hey @Padle!

In your example:

[code]

`arrayIds` equals an empty array `[]` at the time you try to use `client.deleteBulk`, since `client.getItems` is asynchronous. The error message you got:
[code]
is expected to happen, since you send an empty array `[]` to the API.

That being said, your point on the internal `_delete()` method not using the second parameter is totally valid! That was an overs

[2018-01-25 21:45] rijkvanzanten commented on #28
This has been fixed in version `2.6.1` which is the latest release on [npm](https://www.npmjs.com/package/directus-sdk-javascript) as of right now.

Lemme know if this fixes it for you :)

[2018-01-25 21:45] #28 closed

[2018-01-25 21:47] Padle commented on #28
Hey @rijkvanzanten

Thanks for the reply. I have made a mistake in creating the example. Did not thought about it. In my original code is the array in the` .then() `and is filled correctly. There I also have the content of the array displayed in the console to check it. The `catch` already exists. Thanks for tips!

I will check it out!

I have another comment to make, don't know if i have to open

[2018-01-25 21:53] rijkvanzanten commented on #28
It is certainly possible! That's quite a big misser in the api docs btw.. I've created [an issue over at the docs repo](https://github.com/directus/api-docs/issues/14) to get that fixed. As far as I can tell, you're example is exactly what we need. Do you want to do the honors and open a PR, or shall I paste it in and launch it right away? :)

Thanks for the heads up!

[2018-01-25 21:54] Padle commented on #28
Thanks! You can paste it in and launch it right away. I am very happy now! :)

[2018-01-25 21:57] rijkvanzanten commented on #28
`client.deleteFile()` has been added in `2.7.0` which is the latest release on [npm](https://www.npmjs.com/package/directus-sdk-javascript) as of right now. Thanks for your help 😄

[2018-02-05 14:12] u12206050 opened #29 "React Native gives: Metro Bundler has encountered an internal error..."
Trying to build a react-native mobile app using directus-sdk. But when just importing it into my project I get a red screen in the emulator with the message: "Metro Bundler has encountered an internal error, please check your terminal error output for more details"

Can anyone confirm this sdk works with React-Native, and if NOT, what should I use instead?

Thanks.

[2018-02-05 15:55] rijkvanzanten commented on #29
Hey @u12206050!

The SDK should work within React Native as well, since that’s also an JS environment. Could you maybe paste the terminal error output? I’d love to figure out what is causing the problem and get it resolved :-)

As an alternative, you can use any HTTP client that works with React Native and make the calls to the API endpoints directly.

Thanks in advance! 😊

[2018-02-05 17:03] u12206050 commented on #29
I get it working by importing from remote eg: `import RemoteInstance from 'directus-sdk-javascript/remote';`

[2018-02-05 17:06] u12206050 commented on #29
There isn't any errors in the console, don't know if I am debugging it wrong then.

[2018-02-05 17:06] #29 closed

[2018-02-12 14:21] pimmey opened #32 "ES6 code in bundle output"
I tried using this SDK with Parcel bundler, but somehow it wouldn't compile the code and I ended up with things like this in my build file, even though I have `es2015` babel preset:

[code]

Seems to be working fine with the following:

[code]

Not sure if that's the case though, maybe that's Parcel's fault or something, but still there is no `dist/index.js` file :-)

[2018-02-12 15:13] pimmey commented on #32
Nevermind, that doesn't help. Getting

[code]

[2018-02-12 15:17] rijkvanzanten commented on #32
Hey @pimmey!

Did you find the solution?

How did you import the remote instance? Let’s get this resolved :)

[2018-02-12 15:23] pimmey commented on #32
howdy @rijkvanzanten,

I'm importing it as per docs:

[code]

Everything works great, but my compiled output contains ES6 code :-( and that doesn't work with some older browsers, of course.

Does it require any certain babel preset? My `.babelrc` looks like this now:

[code]

[2018-02-12 15:35] rijkvanzanten commented on #32
Hmm this sounds like it’s a problem in your builder config.. does it actually transpile node_modules as well? Or just bundle?

[2018-02-12 15:41] pimmey commented on #32
@rijkvanzanten yeah it's a pretty huge React app that I am developing with lots of modules and everything seems to transpire just great except for this module 😁 So I'm wondering what makes it special and what needs to be changed. Guess it'll need some more investigation.

[2018-02-12 15:59] pimmey commented on #32
@rijkvanzanten I have some other clues!

So I've tried to isolate the problem and create a clean app using [create-react-app](https://github.com/facebook/create-react-app)

When running `yarn build`, I received the following output:

[code]

Also, I've checked the majority of the modules being used and they all point to ES5 code, while this SDK is pointing to ES6 code.

Still pretty confused thoug

[2018-02-12 16:06] rijkvanzanten commented on #32
Hmm i suspect it tries to minify es6 code, what uglify isn’t able to do (yet)..

I feel like you’ve found the problem right here. We already bundle / transpile a version for direct browser use. I think the best solution right now would be to also transpile a version for module use _while not bundling the dependencies_. So you don’t end up with duplicate code.

I’m not sure if i can free up some ti

[2018-02-12 16:08] pimmey commented on #32
Alrighty, I'll try to close that one :-)

[2018-02-12 16:10] rijkvanzanten commented on #32
Awesome! If you need any pointers or have any questions, lemme know 😄

Feel free to join [our Slack](https://slack.getdirectus.com) too 👌🏻

[2018-03-11 18:07] Padle opened #34 "create/send message"
**Hello there!**

In my current project I want to send messages with hints and problem messages to some users and user groups.

## Create/Send Message
This Feature is supported in the PHP SDK: [Create/Send Message](https://github.com/directus/api-docs/blob/1.1/SDKs/php-sdk.md#createsend-messages). So I did some research.

I looked at the API code and found out that a POST request to `messages/rows

[2018-03-12 00:34] Padle commented on #34
This was my first Fork and Pull request. Hope I did it right. Thanks @rijkvanzanten

[2018-03-12 00:57] rijkvanzanten commented on #34
Thanks! I saw it :) I’m away from my computer right now, but I’ll publish it to npm first thing tomorrow 👍🏻

[2018-03-12 15:20] #34 closed

[2018-03-12 15:20] rijkvanzanten commented on #34
This has been published to npm in version 2.10.0

[2018-05-19 06:48] csprance opened #37 "Add TypeScript definitions"
I've migrated the code base over to typescript which simplifies a lot of things and has a lot of wins for code completion and.... type safety :)
<img src="https://csprance.com/shots/2018-05-19_e29f959b-1e41-4e72-8228-d20a3dc25633.png" />

Any thoughts on merging this into the main? It could use a look over but I'm using it on my site (not all aspects of it but some)
https://github.com/csprance/dir

[2018-05-19 22:25] rijkvanzanten commented on #37
Hey @csprance!

I have no problem with merging this in, if it doesn’t break anything for people who use the sdk.. I’ve never worked with typescript before, so I can’t really tell by looking at the code if everything’s working.

I’m currently working on the next version of the SDK (to work with Directus 7). (That one has a full test suite too.) so if we’re merging it in here, I want to add it there

[2018-05-19 22:26] rijkvanzanten commented on #37
I assume we need some extra buildstep to make it work too?

Feel free to open a PR for the type definitions so we can merge that in right away 😄

[2018-05-20 23:03] csprance commented on #37
I will do a pr for the typedefs and we can talk more about typescript.
(It's really super helpful  in larger codebases) I'd love to get in on the
new sdk for directus 7 as well if you are looking for help.

On Sat, May 19, 2018 at 6:26 PM Rijk van Zanten <notifications@github.com>
wrote:

--
Chris Sprance

Email: Chrissprance@gmail.com

[2018-05-28 09:30] truefalse10 commented on #32
any news on this? I am encountering the same problem, running the bundled code in IE11 gives me a syntax error

[2018-05-28 09:32] pimmey commented on #32
No, sorry. I got out of the project that required this, so there was nothing done about it.

[2018-05-28 18:18] rijkvanzanten commented on #32
Hey @truefalse10, I've been working on Directus 7 itself for the past few months, so the JS SDK hasn't been updated that much in the meantime. I'll start using Parcel for the next version of the SDK (compatible with Directus 7). I'll happily merge a PR which uses parcel for the current version :)

[2018-06-22 05:55] linonetwo opened #40 "How to connect to an API behinds a reverse proxy?"
Thanks for your great work, I've deployed an instance to try it, and due to GFW, I have to set up a reverse proxy.

But:
[code]
While calling REST api like
[code]
is OK.

[2018-06-22 14:20] rijkvanzanten commented on #40
Hey @linonetwo!

You have to use the SDK without providing the version in the URL 🙂

[code]

[2018-06-22 14:20] #40 closed

[2018-08-22 21:05] rijkvanzanten commented on #32
Hey all! I figured out a properly working config over on our other standalone package: [`format-title`](https://github.com/directus/format-title). I'll be porting over this config to the next version of the SDK soon!

[2018-08-29 23:19] arblickspule opened #44 "404 on updateItem"
Hey guys, getting 404 on updateItem.  Tracked it down to the following ternary...

`
    _put(endpoint, data = {}, isAPI = false, params = {}) {
    const headers = this._requestHeaders;
    console.log('isAPI is... ', isAPI ? true : false) // Returning true due to isAPI being a proto-object rather than boolean value...
    const url = isAPI ? this.api : this.url;        // ...and then returns thi

[2018-08-30 03:51] arblickspule commented on #44
I see that this has been addressed before on the _post function.

https://github.com/directus/directus-sdk-javascript/pull/41

Needs doing on _put and _delete too

If/when I figure out this Git thing I may do a pull request thingy.  Or maybe someone would like to do it for me... 😁

[2018-08-30 13:27] rijkvanzanten commented on #44
It seems like you figured it out! Thanks 😄

Closed in https://github.com/directus/directus-sdk-javascript/pull/41

[2018-08-30 13:27] #44 closed

[2018-09-21 21:29] #32 closed

[2018-09-24 13:52] TJPlaceWine commented on #37
Hi@csprance are you able to do a PR and merge your type definitions? It would be very helpful to me.
Thanks!

[2018-09-27 14:36] csprance commented on #37
Yes I created a PR. #50

[2018-09-28 04:26] csprance commented on #37
Added in b7e312edf7ac6a0b336a5a8fe267d74070f12fc4

[2018-10-24 18:31] ritenn opened #52 "how to pass array with key?"
posted in wrong repo, sorry

[2018-10-24 18:32] #52 closed

[2018-11-03 06:53] Marcnuth opened #54 "Please add usage guide for this sdk"
as the title described.

[2018-11-05 15:34] lrkwz opened #55 "Import in a angularjs application"
How do I import the module in an angularjs application?

[2018-11-13 09:05] kjj77 opened #56 "Uncaught TypeError: Cannot read property 'fd' of undefined"
Hi,

I'm trying to use the node module of this SDK in a web app.
While using Webpack to test the app locally, I can compile but I stumble on this error in console :

-----------
Uncaught TypeError: Cannot read property 'fd' of undefined
-----------

when I try to import with this:

-----------
import { RemoteInstance } from '@directus/sdk-js';
-----------

The complete error is here :

-----------

[2018-11-14 19:05] rijkvanzanten commented on #56
Hey @kjj77!

Your import seems to be wrong

[code]

should be

[code]

[2018-11-15 09:31] kjj77 commented on #56
Hi and thanks, but I still get the same exact error.
If you want to reproduce it, you can clone this repo:

https://github.com/framework7io/framework7-template-vue-webpack

npm install it to add dependencies, npm install directus-sdk and just add :

          resolvePath('node_modules/@directus/sdk-js')

in build/webpack.config.dev.js (line 51)

and

           import remote from "@directus/sdk-js

[2018-11-15 12:31] rijkvanzanten commented on #56
Oh no! Thanks for giving me a specific case to reproduce with 🙂

We're using this exact SDK in the main Directus app which also used webpack to bundle to code so I'm curious to see what is happening here.

[2018-11-17 01:52] rijkvanzanten commented on #26
This syntax is now supported:

[code]

[2018-11-17 01:52] #26 closed

[2018-11-17 22:43] honzabilek4 commented on #56
Hey,
I'm also curious about this one, since I prepared the rollup bundles here. 👀 📦
@rijkvanzanten  keep me posted please 🤓
Thanks!

[2018-11-21 11:11] honzabilek4 commented on #56
Hi,
I've run into the same issue in one of our projects. I've solved it temporarily by explicitly including the `esm` bundle, but I'm going to investigate this further.

[2018-11-30 17:08] #56 closed

[2019-01-07 20:55] jlalvarez18 commented on #37
Looks like the files have been deleted that provided typescript support. The commit I found was db090eb8e

[2019-01-08 02:30] dereksx opened #58 "Typo in SDK contructor in index.js"
Line 62, it should be "project = option.project"?

![image](https://user-images.githubusercontent.com/15847614/50806058-14cf5200-1330-11e9-9742-87b27dfb341e.png)

[2019-01-08 03:38] rijkvanzanten commented on #58
Yep! Or rather options (plural) 😊

Do you mind opening a PR?

[2019-01-08 14:44] rijkvanzanten commented on #58
This is fixed by https://github.com/directus/sdk-js/pull/59

[2019-01-08 14:44] #58 closed

[2019-01-08 21:04] rijkvanzanten commented on #37
@jlalvarez18 The SDK was overhauled pretty drastically to support Directus 7 which made the typescript definitions outdated. I don't use typescript myself so I have no idea what needs to be changed to make it fit Directus 7.

If anyone wants to update / make the typescript definitions fresh, I'll happily merge them in.

[2019-01-14 19:45] jlalvarez18 commented on #37
@rijkvanzanten I personally rewrote the whole SDK in Typescript in about 2 hours. I would love to share it with you guys if you think it'll help.

Typescript is fantastic because of its type safety.

[2019-01-14 19:46] rijkvanzanten commented on #37
Is it a full rewrite or just the definitions like before?

[2019-01-14 19:47] jlalvarez18 commented on #37
Full rewrite using the JS SDK as its source. It was pretty simple since all that was needed was to declare the types and handle nullability cases. It works great.

[2019-01-14 19:49] rijkvanzanten commented on #37
Would it completely replace the source or live alongside it?

As long as it compiles down to the same bundles, I'd be down to merge it in 😄

[2019-01-14 19:52] jlalvarez18 commented on #37
OK cool. It should.

I can fork the project so that I can workout the build script for you and create a pull request for you to check it out.

[2019-01-14 20:00] rijkvanzanten commented on #37
Sounds good! Thanks @jlalvarez18 😄

[2019-01-14 20:00] rijkvanzanten commented on #37
This is a good way for me to get familiar with TypeScript as well 🙂

[2019-01-14 20:04] jlalvarez18 commented on #37
@rijkvanzanten no problem!

I'll check it in with the Typescript file right now so that you can check it out.

[2019-01-15 20:32] Niekvan opened #61 "Login with static token"
When initializing the SDK with the static token an TypeError: Cannot read property 'replace' of undefined is returned.

Reproduce:
1. Add SDK to nuxt.js project
2. Import SDK and initialize client with url, project and token.

login with client.login() works fine.
GET http://localhost/_/users?access_token=admin_token returns the user

[2019-01-15 20:46] rijkvanzanten commented on #61
Hey Niek! Could you provide a code example of how you try initializing the SDK?

[2019-01-15 21:33] Niekvan commented on #61
I follow the example from the SDK documentation

`import SDK from '@directus/sdk-js`

`const client = new SDK({
url: 'http://localhost/api/public/',
project: '_',
token: 'admin_token'
})`

[2019-01-15 21:34] Niekvan commented on #61
Maybe important to add, everything works fine until I add the token. It looks like it fails at the token validation

[2019-01-15 22:08] rijkvanzanten commented on #54
See https://docs.directus.io/sdk/js.html

[2019-01-15 22:08] #54 closed

[2019-01-15 22:14] #61 closed

[2019-01-25 12:14] reitsma opened #62 "Javascript does not recognize plain text of ping response"
The ping rest call returns a text string 'pong', as stated in the API Reference documentation. The content-type reported is wrong, it should be text/plain.

The javascript SDK assumes anything not being an object is JSON. It cannot handle the ping response and returns an error about the invalid JSON. Perhaps a content-type header should be respected.

Version v7.0.15 / API 2.0.15

[2019-02-01 05:08] csprance commented on #37
This seems to all work for me. Would be nice to get this merged. Typescript is amazing for a big project like this

[2019-02-04 04:59] Mozz4rt opened #63 "Password reset request going to wrong endpoint."
Hello, using `client.requestPasswordReset("admin@example.com");`, it sends a POST request to **/auth/reset-request**. I'm guessing that the correct endpoint would be **/auth/password/request**?

[2019-02-04 15:42] rijkvanzanten commented on #63
You're right, it should be `/auth/password/request` ([docs](https://docs.directus.io/api/reference.html#password-reset-request))

[2019-02-04 15:43] #63 closed

[2019-02-04 15:44] rijkvanzanten commented on #63
This was published on `nom` in `@directus/sdk-js@5.2.1`

[2019-02-19 20:36] DeFUCC opened #64 "Can't sort items randomly"
I try to get 3 random items from the database. Here's the code:

[code]

But I get "Internal server error" as a request. Sorting by field names (even with minus in front) works great, just to mention. ;) Maybe I do simething wrong? The JS SDK docs don't show the exact filtering procedure.

[2019-02-19 21:24] rijkvanzanten commented on #64
Hmm weird. Could you try it directly on the API? `/items/items?fields=*.*&limit=3&sort=?`

[2019-02-19 21:39] DeFUCC commented on #64
No matter what type of API I use, i get the same "internal Server Error"...

[code]

[2019-02-19 21:43] DeFUCC commented on #64
http://etovoteto.ru/api/public/_/items/words here's the API request to try

[2019-02-19 21:51] rijkvanzanten commented on #64
Thanks! I was trying to figure out if it was a bug in the SDK or the API 🙂

[2019-03-21 16:37] luglio7 opened #66 "How to connect without login ?"
In the documentation is stated that i'm not required to login for public endpoints. but how this can be done with the sdk ?

[2019-03-21 16:42] rijkvanzanten commented on #66
You can pass the API URL you want to use in the constructor of the SDK:

[code]

[2019-03-21 16:42] #66 closed

[2019-03-26 10:12] pgegenfurtner opened #67 "Relational Filter: Unable to access related data"
I have the following filter for my request:
` { 'filter[project.display_name][eq]': this.projectName }`
and get the error:
`Error while fetching collection page:  { code: 215,
  message: 'Unable to access "display_name" related data' }`

When I run the exact filter on the collection via Postman I get the expected data back.

[2019-03-26 13:09] rijkvanzanten commented on #67
How do you run it in postman? The SDK does nothing more than pass that object on to the API as a query param, so the output should be the same..

[2019-03-26 13:12] pgegenfurtner commented on #67
The query in Postman looks looks like this: `http://apiURL/_/items/page?filter[project.display_name][eq]=projectName`

[2019-03-26 15:41] shealavington commented on #67
Do you have permissions to `read` that data?

[2019-03-26 16:11] pgegenfurtner commented on #67
Yes, the user has the necessary permissions.

[2019-03-26 16:13] rijkvanzanten commented on #67
Could you check in the devtools what the structure of the network request is that the SDK makes? It should be the same as in Postman. Also, how did you login in Postman vs the SDK? Maybe the SDK is on a different user?

[2019-04-01 18:20] leocavalcante commented on #37
@jlalvarez18 @csprance are some of you working on this? 😃

[2019-04-01 18:22] csprance commented on #37
I ended up just rewriting the api module within my project since it hasn't been merged yet.

[2019-04-01 18:23] #37 closed

[2019-04-01 18:47] leocavalcante commented on #37
Oh, sorry, just saw that there is already a version of TS in source-code, it's not being export to NPM.

Workaround:
[code]
Then
[code]

[2019-04-01 19:03] rijkvanzanten commented on #37
Mind opening a PR for that @leocavalcante? 🙂

[2019-04-01 19:05] leocavalcante commented on #37
Sure 😉

[2019-04-02 16:05] leocavalcante opened #69 "TypeScript and JavaScript versions out of sync."
Just noticed that TypeScript version for `getItems` and `getItem` returns the `data` from the `RequestPromise`, but JavaScript version always returns `RequestPromise`. I get a conflict because VSCode static analysis thinks that `getItems` returns a `Promise<T[]>`, but Webpack uses the JavaScript version on the final bundle then the return is actually a `RequestPromise`.

It also conflicts with its

[2019-04-02 22:10] rijkvanzanten commented on #69
Good suggestion. I'm currently the only maintainer of the SDK-JS and I personally don't use typescript, hence the fact that I have no clue what/how/why/when would be ideal for TypeScript users.

I'm also of the mind set that the source code of this should be as easy to understand as possible for external devs (so it's easier to contribute fixes), and I'm not sure how the added complexity that Type

[2019-04-02 22:28] leocavalcante commented on #69
Hi @rijkvanzanten, then we can remove the TS code and just add the [type declarations](https://www.typescriptlang.org/docs/handbook/declaration-files/introduction.html), what you think?
Will fit both: straightforward JS code base + type hints for TS and VSCode users.

[2019-04-02 22:58] rijkvanzanten commented on #69
Sounds good to me 👍 Better than having two unrelated sources that get out of sync 🙂

[2019-04-03 01:43] #69 closed

[2019-04-11 21:03] bminer opened #71 "Add rate limiting for concurrent API HTTP requests"
See https://github.com/directus/app/issues/1477

The main problem is that the JWT tokens may expire for long-running requests.  This is especially an issue with file uploads of many files.

Also see this lib: https://github.com/bernawil/axios-concurrency

[2019-04-11 21:03] bminer commented on #71
I'd be happy to work on a PR if desired.  Thanks!

[2019-04-12 14:44] benhaynes commented on #71
We love PRs! @rijkvanzanten — any thoughts?

[2019-04-12 15:48] rijkvanzanten commented on #71
We should ideally implement https://github.com/directus/app/issues/1342 first. That should already tackle this specific use case and issue to an extent.

[2019-04-12 16:56] bminer commented on #71
In the case of uploading thousands of files, the concurrent HTTP requests put an additional load on the browser.

More importantly, the /ping and /refresh routes cannot run during this time either because they are queued up by the browser just like the other HTTP requests.  This is what ultimately causes the JWT token to expire... the Directus app cannot refresh it in time.  Requests use the JWT t

[2019-04-12 16:57] bminer commented on #71
Let me know what you guys think!  I'd be happy to work on a PR if there's a good chance it will be accepted.

[2019-04-12 17:15] rijkvanzanten commented on #71
Oohhh I see what you're saying now. Yeah that would be really useful to have 😄 How would it work exactly? From what it looks like, that library will queue everything after 5 requests. Can we only queue the file endpoint specifically?

[2019-04-16 16:57] bminer commented on #71
This is just an idea... I don't think we'd use the axios-concurrency lib.  Perhaps we could add a throttle function in `src/index.js`, and then in `uploadFiles` we could use it.

The following code...

[code]

...would become something like this...

[code]

The `throttle` function would only allow 10 concurrently running requests.  When a request Promise resolves, another request would be dequeued

[2019-04-17 01:30] rijkvanzanten commented on #71
That sounds good to me! Let's call it something else than `throttle` though to prevent confusion with Lodash / Underscore's throttle / debounce methods, since it technically works different.

[2019-04-17 19:40] bminer commented on #71
Will do. Good call. I'll work on a PR sometime next week if time permits.

[2019-04-19 16:01] janbiasi commented on #55
I created an example for you @lrkwz which I'd suggest to use any kinda API clients inside Angular: https://stackblitz.com/edit/directus-angular-example?embed=1&file=src/app/directus.service.ts

[2019-04-19 16:18] #55 closed

[2019-04-19 20:04] janbiasi commented on #69
I don't get this, why don't just have one version written in TypeScript which covers everything and add all typings needed including generics to support all dev's out there? Because at the moment the typings are solved pretty bad, there are incosistent types, weird missmatches within JSDoc and uncompleted typings ... really don't get this, just have issues with this SDK, that forked it and rewrote

[2019-04-19 20:08] shealavington commented on #69
Quoting Rijk:

🤷‍♂️ Not sure if you missed that @Janbiasi — Maybe you're open to helping maintain the TypeScript? 😂

[2019-04-19 20:17] janbiasi commented on #69
@shealavington yes of course, I've just worked for the last 6h on a PR, will continue over the holiday season until monday to prepare a perfect pull request including recipes for e.g. Angular, RXJS, React etc. to help making this SDK great for all dev's :)!

cc @rijkvanzanten

[2019-04-22 13:00] janbiasi commented on #71
Maybe we could also include RAF support, something like this: https://gist.github.com/janbiasi/79a3e51b29cdf819d69f50158be9d2af

[2019-04-22 13:12] rijkvanzanten commented on #71
How would RAF help out queueing requests @janbiasi? 🙂

[2019-04-22 14:54] janbiasi commented on #71
It doesn't help for the queuing process itself, it just helps to run certain things in the animation frame which won't affect the browser runtime itself on the technical tasking layer. It would be even better run the upload itself in a worker thread. If someone has enough time to do that I think it would be the perfect solution 😄

[2019-04-22 14:55] rijkvanzanten commented on #71
As long as the worker thread / queueing is environment agnostic 😁 (browser js / node / react native)

[2019-04-22 16:00] janbiasi commented on #71
With Node 11 there will be a worker package, react native doesn't have them built in but with third party modules possible 😆 but yeah wouldn't do it you're right ..

[2019-04-24 09:50] mvhirsch opened #73 "Why `node` in package.json?"
Hi!

I have a question: why is there `node` specified in _package.json_?
I can't see any purpose of this, but it breaks my code because of a other dependency I'm using, which itself compiles against the _^11_ version of node, specified in this package.json (but my local installed version is currently _^10_, because of LTS).

Is there any reason I've overseen for specifying node here? Can we remove

[2019-04-24 11:43] rijkvanzanten commented on #73
Hey there!

It was added in during the TypeScript types PR. I don't think it's needed though.

@janbiasi @jlalvarez18 any thoughts?

[2019-05-02 11:17] janbiasi commented on #73
I've already pulled it out on my PR, it isn't needed at all.

[2019-05-02 11:19] janbiasi commented on #71
I've tested it in my PR by using a kinda concurrency limiter for the file upload - [see here](https://github.com/directus/sdk-js/blob/3a2141b5f13e6715911acf73eaaf1bbac54c8706/src/SDK.ts#L466), feedback appreciated!

[2019-05-03 16:18] benhaynes commented on #71
Thanks @janbiasi!

Any thoughts on this @rijkvanzanten ?

[2019-05-13 14:23] sarneeh commented on #73
This actually breaks my app on a `freebsd` environment, as `npm` is trying to build node from scratch.

[2019-05-14 14:16] mvhirsch commented on #73
@janbiasi @rijkvanzanten I've create a PR, since it breaks multiple installations and seems not to be needed. Can you please merge this an create a bugfix release, so we can use it instead? :-)

[2019-05-14 14:17] rijkvanzanten commented on #73
Absolutely, I'll release it right away

[2019-05-14 14:17] #73 closed

[2019-05-14 14:18] mvhirsch commented on #73
Awesome, thank you very much!

[2019-05-14 14:23] rijkvanzanten commented on #73
Published `@directus/sdk-js@5.3.1`

[2019-05-18 16:05] zappatero opened #76 "Not token after login"
I use Directus SDK with nuxt. However, after login I do not have the token in the store. The login works fine, as I can see the authentication from axios in the Directus Activity Log. Are there any downgrades in the SDK when it comes to nuxt or do I have it integrated in the wrong way?

Plugin file: directus.js
---
import DirectusSDK from "@directus/sdk-js";
const client = new DirectusSDK();
clien

[2019-05-18 16:53] rijkvanzanten commented on #76
The login call is asynchronous so you're exporting the client before the login is done.

[2019-05-18 16:53] #76 closed

[2019-05-18 18:54] zappatero commented on #76
Thanks for your fast reply. I got the point. Just don't know how to solve this. But I will figure it out.

[2019-05-18 21:39] rijkvanzanten commented on #76
You can have an async function that resolves with the client whenever the user is logged in. If this is public data, you could also make the data accessible from the public role and skip the login step all together

[2019-06-24 18:24] yarick2000 commented on #62
Hi, the bug need to be reopen, since the fix (https://github.com/directus/sdk-js/commit/6b1d722e2b79f8d940c335657f69cd9f985f5d85) was not completely correct. There is a missed parameter (headers) in the call of 'request' function. It should be added in order to remove the default value (false) for the new 'ignoreJson' parameter.

[2019-06-24 18:58] yarick2000 commented on #62
UPDATE: I was trying to replace ping with my own function:
    ping() {
        return this.sdk.request("get", "/server/ping", {}, {}, true, {}, true);
    }
But still was getting the following error:
![image](https://user-images.githubusercontent.com/13006578/60044476-72fab200-9690-11e9-8038-418dc2e380f9.png)
So it can be not enough just to fix params, but may be there is a problem with the logic

[2019-07-09 09:05] lgersman opened #78 "uploadFiles does not work using NodeJS (plus fix)"
Hi,

at first : great job, guys - i love Directus, thumbs up !!

I am working successfully with the Directus SDK on NodeJS.

Now i recognized a bug using the uploadFiles function of the SDK using NodeJS (havent tried this function in the browser yet, but i can imagine its the same problem there).
The SDK sets `"Content-Type": "multipart/form-data"` (see https://github.com/directus/sdk-js/blob/2385

[2019-07-09 16:34] rijkvanzanten opened #79 "Don't use expired token"
ref https://github.com/directus/app/issues/1821

[2019-07-10 09:32] visualcookie opened #80 "Error logging in to Directus"
Hey.

I currently have the problem, that I can't log in to Directus via a source plugin for Gatsby. This issue only occurs on Heroku, when running normally on `localhost` there are no issues whatsoever.

I've posted an initial issue on the source plugins issue board, but I'm thinking this could be an issue with the SDK, since this plugin is using the SDK correctly (from my POV).

Here the initial

[2019-07-10 13:46] rijkvanzanten commented on #80
I don't think this is an issue in the SDK itself.. The login method does exactly what it needs to do. Based on the error you get (Method not allowed) it looks like the SDK is trying to hit the wrong endpoint. Could you make sure you used the right URL and project when initializing the SDK? If you used environment variables for these on Heroku, please make sure they're correct.

[2019-07-10 13:47] rijkvanzanten commented on #80
I'll close this issue as the login method in the SDK itself works as expected

[2019-07-10 13:47] #80 closed

[2019-07-14 23:47] janbiasi commented on #78
Well, MDN and TypeScript told me that the method `getHeaders` does not exist on the `FormData` object (see spec on https://developer.mozilla.org/de/docs/Web/API/FormData), there's also still an [open discussion](https://github.com/form-data/form-data/issues/369#issuecomment-325164921) since 2017 on the `form-data` library as they also told that this isn't meant to use in your own code.

In my opin

[2019-07-15 11:59] lgersman commented on #78
Hi guys,

i've tried both snippets but none of them worked using NodeJS/form-data.

How about that snippet ?

[code]

It works for both form-data (function `getHeaders` exists and will be called) otherwise the default `{ 'Content-Type': 'multipart/form-data' }` will be applied.

Works fine for me.

[2019-07-15 14:05] rijkvanzanten commented on #78
I know that `multipart/form-data` works as expected in the browser. What is the output of `formData.getHeaders()` in this case? Wondering what it adds that isn't there right now

[2019-07-15 14:23] lgersman commented on #78
formData.getHeaders() =>
[code]

[2019-07-15 14:32] rijkvanzanten commented on #78
I can confirm that the browser is overriding this header:

<img width="572" alt="image" src="https://user-images.githubusercontent.com/9141017/61223906-98a53500-a6eb-11e9-9e06-9acfcdadaafd.png">

By setting it ourselves, I'm guessing Axios in Node doesn't override the header correctly, but does in the browser somehow.

What happens if we remove that header completely?

[2019-07-15 14:32] rijkvanzanten commented on #78
@janbiasi It does explain why your custom `boundary=-----0000000000000` didn't work, as it's a special boundary generated by the form-data library

[2019-07-15 14:33] rijkvanzanten commented on #78
Yeah.. the tricky bit is that `.getHeaders()` is an internal API not meant for in-app use. Seeing that it doesn't exist on the browser native FormData, I think we should opt for a solution that doesn't rely on it if possible. @lgersman

[2019-07-15 14:36] lgersman commented on #78
It doesnt work without setting the header :

[code]

[2019-07-15 14:39] lgersman commented on #78
If you can provide another solution running in NodeJS without using `formData.getHeaders()` - well, will be fine for me.

[2019-07-15 14:39] rijkvanzanten commented on #78
I'm baffled as to why Axios would override / append this header in the browser, as demonstrated above, but not in Node 🤔

[2019-07-15 14:45] lgersman commented on #78
Yeah, 588 open bugs should result in a *blinking red warning sign* for a simple "Promise based HTTP client for the browser and node.js" library ... i personally prefer Got for NodeJS (https://github.com/sindresorhus/got) / Ky for Browser (https://github.com/sindresorhus/ky) but there is now other good solution working on both sides ...

[2019-07-15 15:10] rijkvanzanten commented on #78
Nah that's an unfair comparison. Axios is _by far_ the most used http request library out there. The next big option would be `request`, which at roughly a third of the stars has a third of the open issues as well. Besides, the author(s) of Axios decided to leave all the feature requests open as well, which further increases the optical illusion. (Compare that to a repo where they close everything

[2019-07-15 15:26] lgersman commented on #78
As I said "but there is no other good solution working on both sides" which implicates "it is a good solution" ;-)

[2019-07-15 15:36] rijkvanzanten commented on #78
Just sayin' that the number of open issues on a GitHub repo doesn't necessarily mean anything concrete 🙂

[2019-07-15 20:10] janbiasi commented on #78
I think this says much more about axios than open issues ;) React or Angular do have about the same amount of open issues, which literally tells nothing about the lib/framework itself.

![image](https://user-images.githubusercontent.com/4563751/61245206-434d4000-a74c-11e9-933c-0d350df200ee.png)

Works fine for me.

Works for the case if you're using the `form-data` framework, but an SDK should nev

[2019-07-15 20:50] janbiasi commented on #71
I've added a concurrency option for the API in general in the refactored version of the SDK, see: https://github.com/directus/sdk-js/blob/8568e609078ba9cd8c6e441b36e2bafabc11eab1/src/SDK.ts#L503

It's setting the concurrency at the moment statically to five (5), which should already improve the experience :)

cc @rijkvanzanten, @benhaynes @bminer

[2019-07-15 21:15] #78 closed

[2019-07-15 21:21] janbiasi commented on #62
Well for me it works when I override the method, see [this stackblitz example](https://stackblitz.com/edit/directus-issue-62?file=index.ts) ...

The fix is also included within the next release, see: https://github.com/directus/sdk-js/blob/8568e609078ba9cd8c6e441b36e2bafabc11eab1/src/SDK.ts#L1015

[2019-07-15 22:17] #62 closed

[2019-07-16 08:11] lgersman commented on #78
Agreed.

Dont't get me wrong but converting form data using querystring doesnt help me out when trying to upload files.

Anyway, the proposed solution by providing additional headers to the uploadFiles function is what I need.

Great work, guys !!

[2019-07-16 21:57] janbiasi opened #90 "Replace qs/lib with something simpler"
# 🚀 feature request

### Description
The `qs/lib` dependency has a size of 2.3kB, and contains ~300LoC while we just need a simple utility to process recursive objects to a valid directus query.

### Describe the solution you'd like
See [stackblitz](https://stackblitz.com/edit/directus-replace-qs-lib?file=index.ts) example, same functionality within ~20LoC instead of ~300LoC

### Describe alternat

[2019-07-16 22:15] janbiasi opened #91 "Replace axios with <don't know yet>"
# 🚀 feature request

### Description
Axios is a quite heavy library for simple promise based HTTP calls (gzipped about ~4.3kB), so it would be great to replace it with a better alternative or other approach on API calls.

### Describe the solution you'd like

1) Make a monorepository out of the SDK while providing
    - a `@directus/sdk-js` package for the main SDK
    - a `@directus/sdk-adapter`

[2019-07-16 22:20] janbiasi opened #92 "Remove argument validation strategy"
# 🚀 feature request

### Description
The argument validation takes about ~100LoC (source & compiled) for the implementation and requires invariation / runtime type checking services with another ~50LoC (source) / ~80LoC (compiled) which isn't just nothing.

### Describe the solution you'd like
~~We need to talk about if the whole strategy makes sense in todays world and/or if we could find a neat

[2019-07-16 23:10] rijkvanzanten commented on #92
We have every method (including examples) in the docs. I wouldn't mind 🔥 it

[2019-07-16 23:11] rijkvanzanten commented on #91
For the monorepo way; lets keep in mind that I'd still like to offer a `local` version (next to `remote`). Remote being the sdk that connects to an existing API, `local` being connecting straight to a database

[2019-07-17 17:17] janbiasi commented on #92
That's what I wanted to hear!

[2019-07-17 17:18] janbiasi commented on #91
At the moment I'd go for version 2 just because the modern browsers would benefit a lot, and v1 adds just more complexity. Eventually we'll also find some other possible fixes for this one :D

[2019-07-19 23:03] janbiasi opened #100 "SSO Authentication issue"
# 🐞 bug report

### Is this a regression?
Don't know

### Description

Using SSO the App takes me back to the login screen after a few minutes
Using SSO and hitting Refresh in the browser, the app logs the user out and is taken back to the login screen.

SSO: Okta and Azure (we built a custom provider)
App: 7.6.2
API: 2.2.0

[code]

- see https://github.com/directus/app/issues/1867

## 🔬 Minimal R

[2019-07-19 23:05] janbiasi commented on #100
Current state:
* we don't have tests which are covering the SSO strategy
* the new typescript version uses a better strategy to handle persistence

Flow and assumption:
When logging in through SSO, the `login` method in the SDK is skipped. The token is fetched directly from the api and then passed into the SDK. Because it's not going through that same login method, I don't think the refresh interv

[2019-08-15 15:58] Niekvan opened #101 "Static token not working"
# 🐞 bug report

### Description
When using the static access token from the Directus database in the SDK the following error appears: `Uncaught TypeError: Cannot read property 'replace' of undefined`

## 🔬 Minimal Reproduction
[code]

## 🔥 Exception or Error
<pre><code>
Uncaught TypeError: Cannot read property 'replace' of undefined
</code></pre>

## 🌍 Your Environment

**SDK Version:** ```v5.3.4`

[2019-08-16 07:51] coatesap commented on #26
Has this started failing again? On the latest version of Axios (0.19.0) making post requests works as expected, but get requests end up getting encoded.

Params:
![image](https://user-images.githubusercontent.com/1926626/63152111-f090cd80-c002-11e9-9b6f-7d7c97f2c2f4.png)

Post request:
![image](https://user-images.githubusercontent.com/1926626/63152008-b9bab780-c002-11e9-8d22-56465f93a529.png)

Ge

[2019-08-16 12:36] rijkvanzanten commented on #26
The structure of the parameter is

[code]

Besides, `endsWith` and `startsWith` aren't valid Directus filter parameters:

https://docs.directus.io/api/reference.html#filtering

[2019-08-16 12:50] coatesap commented on #26
@rijkvanzanten - apologies - I was hopping between this issue and another closely related Axios issue in different browser tabs. I'll delete my comment shortly.

[2019-08-29 10:52] simentesempre opened #102 "Error on client login() method: Uncaught Error: Invalid keysWithString value"
# 🐞 bug report

### Is this a regression?
I don't know

### Description
on client's login() method i got the following error

Uncaught Error: Invalid keysWithString value: {"url":"http://project.fenic:3000/","project":"_"}

## 🔬 Minimal Reproduction
This is built in a React custom hook, inside a useEffect hook
[code]

## 🔥 Exception or Error
<pre><code>

Uncaught Error: Invalid keysWithString valu

[2019-08-29 12:01] #102 closed

[2019-08-29 12:01] simentesempre commented on #102
I realized my mistake, sorry

[2019-08-29 14:59] rijkvanzanten commented on #102
What was it @simentesempre? In case someone else runs into the same issue :)

[2019-08-29 15:08] simentesempre commented on #102
I'm sorry, the mistake was using the login() method itself, since I wasn't "actually" logging in. So I fixed it just like this:
`const client = new DirectusSDK({
    url: api_endpoint,
    project: "_"
})`
Hope it helps

[2019-08-31 22:34] djnuller opened #103 "403 forbidden when calling getCollections after client.login"
I tried out directus right after installation and added 2 collections.
Posts
Movies

**System**
Ubuntu 18.04.3 LTS
PHP 7.2
Apache2 : LoadModule php7_module /usr/lib/apache2/modules/libphp7.2.so
mysql 5.7.27-0ubuntu0.18.04.1

**Service code**
import DirectusSDK from "@directus/sdk-js";

const client = new DirectusSDK();

client.login({
    url: "http://***/directus/public",
    project: "_",
    em

[2019-09-02 23:59] rijkvanzanten commented on #103
`client.login` is (like every other method) asynchronous. You should wait until that's done before trying to call `getCollections`, as the client won't be logged in yet

[2019-09-03 06:53] djnuller commented on #103
The problem also accures when calling it directly through postman or insomnia.

[2019-09-03 16:04] #103 closed

[2019-09-10 10:16] kevinvugts opened #104 "And or operator causes other filters to break"
# 🐞 bug report

### Description
I am trying to do some conditional filtering using the and & or operators. Unfortunately after adding one of these operator causes directus to break other requirements / filters.  Below I will attach a code + result json.

## 🔬 Minimal Reproduction

## The below code is parsing the correct data from directus with the correct category
[code]

## in contrary the below

[2019-09-16 16:29] kevinvugts commented on #104
@benhaynes Hi Ben, is this in the pipeline for next release?

[2019-09-16 17:07] benhaynes commented on #104
Our team has been busy with client work the past few weeks, so I don't think this is resolved. Therefore it probably won't be in the next release... but hopefully the one after.

[2019-09-16 17:24] kevinvugts commented on #104
That's okay ben. Could you just verify it's actually a bug in the core of Directus? We are currently relying on this and can't move forward. Are you guys working in sprints / releases every 2 weeks? :)

[2019-09-16 19:21] benhaynes commented on #104
To verify that I'll need to have the devs dive-in... which might take a little time. I wish we had more resourcing, but we're slammed with projects that "pay the bills". :)

Normally we release every 2 weeks, but our lack of commits has pushed this back recently. If you debug the issue and find a solution, send it over in a PR and we'll review/merge it for the next release!

[2019-09-16 21:22] rijkvanzanten commented on #104
Hey @kevinvugts! Can you confirm if the same query works correctly when using the API directly? I'm wondering if this is an issue with the SDK, or an issue in the API itself.

Groetjes!

[2019-09-17 06:15] kevinvugts commented on #104
@rijkvanzanten @benhaynes It looks like it comes from the SDK. When I fire of the same query it will return a result directly from the api with a ~curl command.

### The query / API Call

`https://api.xclsv500.nl//_/items/privileges?fields%5B0%5D=%2A&fields%5B1%5D=image.filename&fields%5B2%5D=image.data.full_url&fields%5B3%5D=attachment.%2A&fields%5B4%5D=partner.%2A.%2A&fields%5B5%5D=location.%2A&

[2019-09-17 11:20] mustafa220 opened #105 "how can i filter null field?"
hi

i want to get my items by null field

i tried this code, but didnt work.

can you help me please?

[code]

[2019-09-17 16:56] rijkvanzanten commented on #104
Is this the API call that the SDK makes, or the correct one you're looking for?

---

Formatted:
[code]

[2019-09-17 17:00] rijkvanzanten commented on #105
Try

[code]

[2019-09-17 17:00] #105 closed

[2019-09-18 05:58] kevinvugts commented on #104
This is generated by the JS SDK but the result set of this is not being received in the SDK but with a curl in terminal.

[2019-09-18 07:08] mustafa220 commented on #105
@rijkvanzanten  still dont work.

im getting this response

![image](https://user-images.githubusercontent.com/9257902/65123612-4a1e5a80-d9fc-11e9-9efb-a14de3e97a0b.png)

[2019-09-18 14:31] rijkvanzanten commented on #104
@bjgajjar Does this look right to you?

[code]

[2019-09-19 05:50] bjgajjar commented on #104
Yes

[2019-09-19 14:23] rijkvanzanten commented on #104
If this is the correct param syntax and the API does not return the correct data, then this must be a API issue

[2019-09-30 14:31] #90 closed

[2019-09-30 14:31] #92 closed

[2019-10-02 13:46] WoLfulus opened #111 "Broken query string serializer"
# 🐞 Bug report

### Description
Seems like there's a problem with query string serialization in the new alpha version. When multiple parameters are passed, the generated QS is wrong, causing problem with the request.

I'm not sure, but it seems urlencode is also missing in the `defaultSerializerTransform` function.

## 🔬 Minimal Reproduction
[code]

## 🔥 Exception or Error
<pre><code>
(node:7160)

[2019-10-02 22:55] #111 closed

[2019-10-09 21:08] DeMuu opened #113 "Auth persist / storage not working"
# 🐞 Bug report
Auth persistance not working in Ember.js App.

### Is this a regression?
Don't know

### Description
Setting the storage does not seem to work. If I specifically set `directusClient.config.storage = window.localStorage;` it does create a localStorage entry but upon refreshing the page I am not authenticated.
Please excuse if this is not a bug and I just manually need to do something

[2019-10-10 12:50] benhaynes commented on #113
@rijkvanzanten — I assume this will be resolved by the new Auth flow?

[2019-10-10 14:19] rijkvanzanten commented on #113
Nah, I think this was broken in either the typescript change or the auth flow changes. This is still officially supported though.

v5 is still the 'current' version in which this works, I recommend using that until v6 is out of alpha / beta

[2019-10-10 21:13] DeMuu commented on #113
Thanks for the quick support and clarification! 👏 🙇

[2019-10-11 11:08] ahmtaras opened #114 "Axios Extensions"
How do I add the [axios-extensions](https://www.npmjs.com/package/axios-extensions) extension to the project?

[2019-10-12 16:39] LouizFC opened #115 "[Question] Licensing and usage"
Greetings.

For what I understand about GPL licensing, if I am to use this SDK on a private project, I will need to serve my source code to the users.

If I am to use the code on the server side, it is ok, because the definition of "distribution" on the GPL license is permissive enough to not force me to distribute sources as long as the code is used only on the server (thats why AGPL exists, to b

[2019-10-14 18:54] benhaynes commented on #115
@rijkvanzanten — Thoughts on using an MIT license (or something more permissible than GPLv3) to avoid confusion?

https://gist.github.com/kn9ts/cbe95340d29fc1aaeaa5dd5c059d2e60

https://opensource.stackexchange.com/questions/4360/what-are-the-implications-of-licensing-a-javascript-library-under-gpl

[2019-10-14 20:55] westhouseit opened #116 "Undefined exception"
# 🐞 Bug report

### Is this a regression?
Unknown

### Description

See: https://github.com/Jonesus/gatsby-source-directus7/issues/18

Seems that the SDK isn't returning an exception when failing on the get() method, though I could be wrong.

## 🔬 Minimal Reproduction
[code]

## 🔥 Exception or Error
<pre><code>
GSD7: error gatsby-source-directus: Error while fetching files: undefined
</code></pre>

[2019-10-15 00:37] RafaelQuintanilla opened #117 "Creating collections with the SDK JS"
Hi everyone,

I'm using the SDK JS to create collections but i get this error, not sure why am I getting it.
![image](https://user-images.githubusercontent.com/10001883/66727973-b84a1780-ee18-11e9-8729-8777a3e6743d.png)

It does create it but it can be used only if I click on manage.
![image](https://user-images.githubusercontent.com/10001883/66727996-d31c8c00-ee18-11e9-95dd-f1b669fea9a8.png)

![i

[2019-10-15 21:10] shealavington commented on #117
`interface: "Text Input"` doesn't seem right, seems like `text_input` would be expected.

[2019-10-15 22:02] RafaelQuintanilla commented on #117
I tried also with text_input but keep getting the same error, and It needs to click on manage to use the collection
![image](https://user-images.githubusercontent.com/10001883/66873210-4986ce80-ef7e-11e9-9f29-7f7e1180714e.png)

![image](https://user-images.githubusercontent.com/10001883/66873255-63c0ac80-ef7e-11e9-8ea6-060946bac662.png)

[2019-10-16 13:00] shealavington commented on #117
`text-input` to match `primary-key`?

[2019-10-16 20:58] RafaelRueda commented on #117
I tried both as "text_input" and "primary_key" (the "_" instead of "-")
It's the example for Directus doc, only that i'm adding a second field, which is a name.
I tried also creating the collection with the id only , but i get the same error.

[2019-10-18 22:40] rijkvanzanten commented on #114
There's no way to do this. What would this add?

We could add support for this in a future version if you're down to help out

[2019-10-18 22:43] rijkvanzanten commented on #115
Good point! I originally added the GPL-3.0 license because the Directus API / app are licensed as such. There's no reason not to make the SDK MIT

[2019-10-18 22:56] #115 closed

[2019-10-18 22:59] rijkvanzanten commented on #115
Changed it! (v6.0.0-alpha.6 and up is MIT licensed)

[2019-10-19 13:01] ahmtaras commented on #114
When the request is made, if the data has already been loaded, it receives the response from the cache. I was using it to reduce requests. An axios plugin.

[2019-10-21 13:04] rijkvanzanten commented on #114
Sounds useful! As of right now, there's no way to inject these adapters into the underlying Axios instance. Sounds like a useful feature to have though! Would you like to work on a PR @ahmtaras ?

[2019-10-21 15:39] rijkvanzanten commented on #116
I just tried your minimal reproduction, but it seems to be working fine on my end (no Gatsby, just JS):

[code]

The files get returned correctly, and the 404 is being caught in the `.catch`..

Could it be that your API is failing somewhere earlier? Maybe the CORS headers cause trouble before the SDK even gets the chance to catch the error?

[2019-10-22 00:07] ahmtaras commented on #114
I opened this topic because I don't know the typescript.

[2019-10-22 00:15] ahmtaras commented on #114
You can turn on support for a future release. I have no experience with Typescript. I tried to add a few times and I failed. It will be better if experienced friends develop.

[2019-10-22 14:21] rijkvanzanten commented on #114
This is not a feature I'll be using myself and/or will be using in Directus, so I'm afraid I won't be able to spend any time on it in the near future. For anyone willing to take this on:

The config object that's passed to the constructor of the SDK (`new SDK({ config })`) is passed on directly to the internal API constructor:

https://github.com/directus/sdk-js/blob/fabb420c260c4bb3148386e61c6ab9

[2019-10-22 16:11] westhouseit commented on #116
Hmm... thanks, will look into this is in more depth.

[2019-11-02 14:37] janbiasi commented on #114
@ahmtaras You could access the Axios instance by accessing the property `yourSDKInstance.api.xhr`

[2019-11-02 14:45] janbiasi commented on #101
@Niekvan I think this error is caused inside of the JWT parse method ... https://github.com/directus/sdk-js/blob/1e13ca40b6f5f689e28bedb448285c116a542ba6/src/utils/payload.ts#L21-L24

Did you try to add your access token or mail/pass setting like described in https://github.com/directus/sdk-js/blob/develop/recipes/Starter.md ?

[2019-11-02 17:02] pgegenfurtner commented on #113
This feature is not working for me with SDK Version 5.3.4.

I'm trying to use it within a next.js app

[2019-11-03 12:56] benhaynes commented on #101
Any thoughts on this @rijkvanzanten ? Will this change based on the new auth flow?

[2019-11-04 15:36] rijkvanzanten commented on #101
I think it's trying to read a non-existent token. It might wrongly assume the token was stored in localStorage, even if it isn't. @benhaynes could be introduced in the typescript refactor or my changes to support cookies

[2019-11-04 15:37] rijkvanzanten commented on #113
@pgegenfurtner How are you trying to use it? Do you have a replicable example?

[2019-11-05 09:03] ahmtaras commented on #114
Thank you @janbiasi. I need to introduce the plug-in I shared above to axios in the SDK.

[2019-11-07 10:30] Niekvan commented on #101
Hi,

I followed the exact instructions in the docs. Using email address and password works fine, but that is not an option for my use case. I fixed it by implementing my own version of the SDK without JWT, as this is not needed for access with the access_token.

[2019-11-10 15:05] janbiasi commented on #114
@ahmtaras alright, we don't support custom adapters at the moment but I could create a PR related to support more options :)

[2019-11-10 15:09] janbiasi commented on #114
**Adding support for the following:**

- `adapter` providing custom request/response adapters
- `timeout` to set the basic request timeout
- `maxContentLength` limit content length
- `proxy` adds support for a proxy host

[2019-11-19 03:24] gianniskarmas opened #121 "LoggedIn State in latest beta"
LoggedIn State has been removed in latest betas.
What is the best way to check if user is logged in?

[2019-11-19 03:30] rijkvanzanten commented on #121
The JS SDK can't read the logged in state if you're using cookies to authenticate. I might re-add it as a async method that will return the token state if JWTs are used or do a request to verify the cookie. As for now, fetching the project info is the cheapest way to check if your session is active

[2019-11-19 03:39] gianniskarmas commented on #121
Sorry for continuing this here but cookie is not documented.
Tried to use it like:
`project: "api",
 persist: true,
 storage: 'cookie'`
but no cookie is being created.
Can you please explain.

[2019-11-19 12:50] rijkvanzanten commented on #121
The cookie is set to httpOnly so it can't be read from JavaScript at all. This is done by design, as it's the only way to protect the key from being accessible by XSS attacks.

Performing any query and checking the result for either 200 or 401 is the only way to really check if the cookie is still attached to a valid session. Generally speaking, the cookie session won't end until you explicitly ki

[2019-11-19 14:36] gianniskarmas commented on #121
Thank you for the explanation.
Can you also please add the 'loggedIn' call in the next npm update?
It is very useful for 'isAuthenticated' functions within an app.

[2019-11-19 14:46] rijkvanzanten commented on #121
Yeah! I'll add a `isLoggedIn()` method that handles the logic between JWT and cookies under the hood. It will be asynchronous, so usage would be:

[code]

[2019-11-19 19:43] #121 closed

[2019-11-21 22:00] tfasolino-crak commented on #116
Same problem here

[2019-11-21 23:39] rijkvanzanten commented on #116
@tfasolino-crak yikes.. Unless we figure out how to consistently reproduce it, there's not much I can do..

[2019-11-22 13:48] tfasolino-crak commented on #116
I' m still looking for the problem. I will give you feedback about this

[2019-11-29 18:55] tfasolino-crak commented on #116
Ok for my problem, it was a database cache problem...The sdk returns an 'undefined' for some specific cases, it could be a problem for some people. So it was not a problem with the sdk :)
Thx for your answer and great plugin

[2019-11-29 22:11] #116 closed

[2019-12-06 07:16] pgegenfurtner commented on #113
I have an auth-service file in which I create a new instance of the sdk

[code]

and a login handler which looks like this:

[code]

Nothing is added to the localStorage. Am I doing something wrong?

[2019-12-06 10:47] ahuseyn opened #124 "JS SDK Internal Method Error: TypeError: client.post is not a function"
1. I've created custom endpoint which is working well on API client
2. I use Directus JS SDK for my React project
3. Documentation suggests to use Internal methods for this kind of situation
4. So I used the code below:
`client.post(
  "/custom/auth"
);`
5. It should generate an error indicating email and password missing

## Actual Behavior
1. It generates error below:

[code]

## Other Context &

[2019-12-06 12:28] rijkvanzanten commented on #124
Can you try `client.api.post` instead?

[2019-12-06 12:42] ahuseyn commented on #124
Thank you @rijkvanzanten. It is working now. But I can't find any reference about issue on documentation.

[2019-12-07 19:32] jesusmdy commented on #113
I am also having that issue.
I am triying to Sign In by the `login()` method but it doesn't generates a `token`.
I was looking at the `directus/app` source code and i saw that it implements a field called `mode: "cookie"`
So, i use a custom host in my computer `http://api.directbay/directbay` and when i tried to sign in from `http://localhost:8080` it sents a `cors` error that's why the cookie con

[2019-12-07 19:35] jesusmdy commented on #113
Should ya'lls deprecate features progresively...

[2019-12-07 19:38] jesusmdy commented on #113
I am also having that issue.
I am triying to Sign In by the `login()` method but it doesn't generates a `token`.
I was looking at the `directus/app` source code and i saw that it implements a field called `mode: "cookie"`
So, i use a custom host in my computer `http://api.directbay/directbay` and when i tried to sign in from `http://localhost:8080` it sents a `cors` error, that's why the cookie co

[2019-12-07 20:58] DeMuu commented on #113
What's working for me with **sdk-js 5.3.4** is the following. Please note that I just settled with this as soon as it worked so it might not be the best / correct solution (?):

[code]

and for logging in

[code]

[2019-12-07 21:04] jesusmdy commented on #113
That's correct for that version, in >=6 versions that doesn't work...

[2019-12-07 21:15] jesusmdy commented on #113
Check this out: https://github.com/directus/api/wiki/Session-Auth-Flow

[2019-12-09 15:00] #124 closed

[2019-12-09 15:01] rijkvanzanten commented on #124
Updated the docs @ahuseyn 👍

[2019-12-09 15:05] rijkvanzanten commented on #113
The cookie mode is new, but that doesn't mean that the old JWT way of doing things should be broken.

[2019-12-10 10:33] pgegenfurtner opened #125 "V6 not working in node.js"
When I use the newest version in a node.js process (gatsby-node), I get and `TypeError: DirectusSDK is not a constructur` error.

This is how I implement it:
[code]

[2019-12-10 13:47] pgegenfurtner commented on #125
Importing the sdk via `const DirectusSDK = require('@directus/sdk-js').default;`works

[2019-12-10 13:47] #125 closed

[2019-12-16 14:08] shealavington commented on #125
I did have a similar issue here @rijkvanzanten - I couldn't import the CDN in JSFiddle and just start playing...

https://unpkg.com/@directus/sdk-js@6.0.0/dist/umd/directus-sdk.min.js

I had to go back to 5.* or something.

[2019-12-16 14:19] rijkvanzanten commented on #125
@shealavington v6 exports the SDK directly:

[code]

[2019-12-22 13:35] ahuseyn opened #127 "It would be great to see some explanation about JWT expiration on documentation"
# 🚀 Feature request

### Description
In documentation there is one sentence about JWT expiration:

I am wondering if we have any solution to deal with JWT expiration or is there exact time period for JWT validity?

### Describe the solution you'd like
It would be good to see if we have any option to change JWT token expiration time. Is it possible to extend JWT expiration?

### Describe alternativ

[2019-12-22 19:13] ahuseyn commented on #113
I am having same issue. I use Directus 8 and JS SDK 6. When I send request to auth/authenticate with `mode: 'cookie'` on Insomnia (Rest client) it returns header containing
`Set-Cookie	directus-project-session=6WuPJo13QSqx4oU15yOd3F%2BovolGLetYUVA%3D%3A%3A7e343014f3291671664fd291b68f0903; path=/; expires=Sun, 29-Dec-2019 18:48:59 UTC; HttpOnly. `
But it is not working with js sdk. I tried both log

[2019-12-24 14:20] floyd0987 opened #129 "The engine "node" is incompatible with this module. Expected version ">=8.0.0 <13.0.0". Got "13.2.0""
when adding directus with yarn, I get the following error

yarn add @directus/sdk-js

yarn add v1.19.2
[1/4] 🔍  Resolving packages...
[2/4] 🚚  Fetching packages...
error @directus/sdk-js@6.0.0: The engine "node" is incompatible with this module. Expected version ">=8.0.0 <13.0.0". Got "13.2.0"
error Found incompatible module.

[2019-12-24 14:24] rijkvanzanten commented on #129
Well, the error says it all. The SDK requires you to use a version of node between 8+ and <13, and you're on 13.2. I haven't had the time to test the SDK on node 13+ yet. I can remove the engine check, but that leaves no guarantee that it will actually work on the newest version of node.

[2019-12-24 14:24] #129 closed

[2019-12-24 14:53] rijkvanzanten commented on #113
How do you run your app and api? They are normally the same thing (eg http://localhost/directus/public/admin/) so I'm guessing you're running this in a non-standard way.

[2019-12-24 14:55] rijkvanzanten commented on #127
This is most likely caused by something in your environment specifically. The Directus app uses the SDK in cookie mode and has no problems (see https://demo.directus.io for a working example)

[2019-12-24 15:20] ahuseyn commented on #113
@rijkvanzanten No, with App I mean ReactJS web app. I have directus running on http://localhost/directus/public and I have React Web App runing on http://localhost:3000.
But I can't set cookies on browser anyway. Is it related with localhost? Because directus sends set-cookie header with response but browser does nothing with it.

[2020-01-03 23:05] pachiraDIG commented on #26
Having trouble with getting structure correct for filtering "future events" :
[code]
Have also tried replacing `"now"` with a formatted a javascript date :
[code]
but no luck.

Any suggestions?

Thanks!

[2020-01-06 19:25] rijkvanzanten commented on #26
I'm assuming yes, but does this collection have a `date` field? Also, does it work if you open it directly from the API? `/items/events?filter[date][gt]=2020-01-03`?

[2020-01-09 09:45] rnwzd commented on #113
I am havng the same issues:
with jwt it does not login,
with cookie it sends a CORS error

[2020-01-16 08:07] kevinmamaqi opened #130 "SDK JS URL in project description is wrong, should be..."
It is not a bug, but Couldn't commit it: the URL should be https://docs.directus.io/guides/js-sdk.html

[2020-01-16 11:57] benhaynes commented on #130
Thanks!! All set...

[2020-01-16 11:57] #130 closed

[2020-01-19 19:53] khyoz opened #131 "Nuxt"
# 🚀 How to install Directus SDK-JS with Nuxt ?

### Description
I try to follow the doc, but none of the methods seems to run

### Describe the solution you'd like
Can you provide an example how to start, with the filenames where to initialize the sdk ?

[2020-01-19 22:43] WoLfulus commented on #131
is there any specific problems, like errors or something? what is not working? what you were expecting?
can you provide a snippet of what you're trying to do, and what version you have installed?

[2020-01-20 03:12] khyoz commented on #131
I try to use sdk-js in an nuxt project to access latest version of directus db. I try to follow the doc [Globally available](https://github.com/directus/sdk-js/blob/master/recipes/frameworks/Vue.md) or to use it as a component locally, but I always get errors. I don't know where to put the code `// main.js
import Vue from "vue";
import DirectusSDK from "@directus/sdk-js";

const client = new Direc

[2020-01-20 15:33] rijkvanzanten commented on #131
Based on [the Nuxt docs](https://nuxtjs.org/guide/plugins/#inject-in-root-amp-context), you should be able to put that code in a `/plugins/directus-inject.js` file.

[2020-01-20 15:33] #131 closed

[2020-01-21 17:15] juliosouza-pushstart opened #132 "Requests fail when using Cloudfront with Directus"
# 🐞 Bug report

### Is this a regression?
Not sure.

### Description
When using the Directus instance behind Cloudfront, GET requests fail due an incorrect Content-length header.

Specifically, API.request forces an empty `data` property to the options object passed to `this.xhr.request(requestOptions)`, even in GET requests, which shouldn't have any content.

**I've tried removing the default val

[2020-01-21 17:41] rijkvanzanten commented on #132
Want to add a PR for that @juliosouza-pushstart ? 🙂

[2020-01-22 16:34] ahmtaras commented on #121
this function always returns true. Am I doing something wrong?

[2020-01-22 16:43] ahmtaras commented on #113
Cookie mode does not write any cookies. Let's say I get data from api.example.com. My client side is another area. Systems using the Chrome infrastructure do not accept third-party cookies, unless permitted. When the Authentication method works properly, we can transmit cookies from the incoming request response and process it on the client side. What else can be done for this?

[2020-01-22 18:28] rijkvanzanten commented on #121
Are you sure you're not logged in? The function itself lgtm:

https://github.com/directus/sdk-js/blob/3f1eef39569980787155e95811ca476621b065f5/src/SDK.ts#L884-L896

[2020-01-22 18:31] rijkvanzanten commented on #113
Not sure what you mean by "When the auth method works _properly_". The cookie is set as httpOnly, meaning you can't read it from client side JS. This is by design to make it secured against xss attacks. If you run into any specific cors issues in the cookie, please open an issue on the API repo

[2020-01-22 21:16] ahmtaras commented on #121
No login. The result is returned true;
![Adsız](https://user-images.githubusercontent.com/23402407/72934678-1cb03780-3d75-11ea-85f8-247bb224b4b3.png)

I have successfully logged in.
![Adsız](https://user-images.githubusercontent.com/23402407/72934779-4bc6a900-3d75-11ea-85de-6697bee46459.png)

Again, the result is correct
![Adsız](https://user-images.githubusercontent.com/23402407/72934936-8a5c6380

[2020-01-22 21:27] ahmtaras commented on #113
Sorry my English is weak.

Returns the token (if jwt mode is used) and the user record for the user you just authenticated as.
![Adsız](https://user-images.githubusercontent.com/23402407/72935631-c3490800-3d76-11ea-814a-af632843216d.png)

in cookie mode. You can return cookie information such as tokens. To bypass third-party cookies, we receive these cookies on the client side and we can print the

[2020-01-22 22:18] ahmtaras commented on #121
@rijkvanzanten
The reason for this is;

`res.data.public === undefined` instead `res.public === undefined` you should use.

![Adsız](https://user-images.githubusercontent.com/23402407/72939485-035fb900-3d7e-11ea-8950-80d29f94523b.png)

[2020-01-22 22:26] rijkvanzanten commented on #121
Good catch! Wanna open a PR for that?

[2020-01-22 22:28] ahmtaras commented on #121
I can post an edit. If we just change that part, the problem will be solved. You can do it too.

[2020-01-22 22:41] rijkvanzanten commented on #121
Fixed in https://github.com/directus/sdk-js/pull/133

[2020-01-23 15:42] dgram commented on #78
can it be that the current version of directus-sdk (6) have the same problem?

i can't upload files, i always get an error

[code]

the code looks something like this
[code]

[2020-01-24 15:00] juliosouza-pushstart commented on #132
@rijkvanzanten I'm not sure how to setup the dev environment, and I don't feel safe editing the typescript code without checking it.

I'd be fine if you do it instead. Thanks!

[2020-01-24 17:08] rijkvanzanten commented on #132
I don't really have the time to prioritize this now.. that's why 😬

[2020-01-27 14:50] rijkvanzanten commented on #78
@dgram could you open a new issue for that

[2020-01-27 21:41] dgram opened #134 "Fileupload failed"
# 🐞 Bug report

### Description
I've got the same error as described in #78 for my node FormData Upload.
So i try to upload files via directus-sdk-js on my node server and got the message ```Missing boundary in multipart/form-data POST data ````

## 🔬 Minimal Reproduction
[code]

## 🔥 Exception or Error
***PHP Server Warning***
<pre><code>
 Missing boundary in multipart/form-data POST data in <b>U

[2020-01-29 00:35] edoardomarsili opened #135 "error @directus/sdk-js@6.0.1: The engine "node" is incompatible with this module. Expected version ">=8.0.0 <13.0.0". Got "13.7.0""
# 🐞 Bug report

### Description
Not compatible with node 13.7.0 on Mac OS High Sierra.

## 🔬 Minimal Reproduction
[code]

## 🌍 Your Environment

**SDK Version:** ```v6.0.1```

**Anything else relevant?**

Package manager: Yarn
Pkg manager version: 1.21.1
Node version: v13.7.0
OS: OSX High Sierra 10.13.6

[2020-01-29 13:48] rijkvanzanten commented on #134
I think this is caused by the fact that the headers don't contain the correct boundary in this case. As per https://www.npmjs.com/package/form-data#axios, we should add a way to override the headers for this specific request so you can use `const formHeaders = form.getHeaders();` to pass it the header with the correct boundary

[2020-01-29 20:34] Zilus commented on #135
Same issue with Mac OS Catalina:

` yarn add @directus/sdk-js
yarn add v1.21.1
[1/5] 🔍  Validating package.json...
[2/5] 🔍  Resolving packages...
[3/5] 🚚  Fetching packages...
error @directus/sdk-js@6.0.1: The engine "node" is incompatible with this module. Expected version ">=8.0.0 <13.0.0". Got "13.7.0"
error Found incompatible module.
info Visit https://yarnpkg.com/en/docs/cli/add for documenta

[2020-01-29 23:01] edoardomarsili commented on #135
Will try to digg bit more into it

[2020-01-29 23:26] WoLfulus commented on #135
We'll remove the maximum version restriction on next release.

[2020-01-29 23:57] rijkvanzanten commented on #135
Fixed in #136

[2020-01-29 23:57] #135 closed

[2020-02-11 18:33] jooola opened #140 "Tests fail on master"
# 🐞 Bug report

Tests on master fails, a lot of them. I ran it locally, and some work needs to be done to test the SDK.

### Is this a regression?

I guess tests were OK with v5, but since v6 no CI can prove otherwise.

### Description
Tests don't pass...

[2020-02-11 19:27] jooola opened #141 "Create missing tags"
# 🐞 Bug report

I propose to add all missing tags since early v5.2.2 to the history.

Here is the list of tags + commit ref that needs to be added.

`tags.txt`
[code]

Here is the script to to create the tags:
`tags.sh`
[code]

@rijkvanzanten To do this, you simply need to create the 2 files `tags.txt` and `tags.sh`, and run the script. Once this is done simply push the tags to github using:
[code

[2020-02-11 22:19] rijkvanzanten commented on #141
Done and pushed up 👍

[2020-02-11 22:19] #141 closed

[2020-02-12 17:06] rijkvanzanten opened #146 "Align directus/app and sdk options"
# 🚀 Feature request

### Description
The app uses a different setup for code styling / formatting and testing than the SDK

### Describe the solution you'd like
They should all use the same thing to ensure consistency across the organization.

### Describe alternatives you've considered
--

[2020-02-18 17:10] spee opened #147 "sdk-js `logout()` request returns 401"
I'm using the JS SDK for my React app; authentication succeeds, as well as loading a protected resource, but when I try to then log out using the SDK's `logout` method, I get an empty response with status `401 Unauthorized`.

When I look at network requests, I see that the login call is to `/:project/auth/authenticate` but the logout call is missing the project prefix: `/auth/logout`.

Another (un

[2020-02-19 03:54] JulioC commented on #132
@juliosouza-pushstart here. I've created a PR with the proposed fix

[2020-02-19 11:39] spee commented on #147
Just looked again and by manually performing a POST request to the endpoint `/:project/auth/logout` using axios, it does result in a 200 response of `{"public":true}`. So, I suspect only the wrong path is being used.

[2020-02-19 14:49] #132 closed

[2020-02-22 09:22] ghezeli opened #149 "Server Error . Something is wrong with this project’s server or database."
hi
i gave this error after login

 Server Error  . Something is wrong with this project’s server or database.
![image](https://user-images.githubusercontent.com/5620958/75089696-d404bd80-5570-11ea-906a-077759bbaf12.png)

plz help me

[2020-02-22 15:25] benhaynes commented on #149
This is the general error, we can't debug this... especially without any info.

[2020-02-22 15:25] #149 closed

[2020-02-23 16:56] rijkvanzanten commented on #147
@apybot feel free to add it yourself and open a PR. That's the quickest way to get this solved and released

[2020-03-01 15:30] gianniskarmas commented on #121
So how do I get client details after a refresh using cookie mode?
Using nuxt and in store I use:
`export const actions = {
    async nuxtServerInit ({ commit }) {
        commit('setAuth', await this.$directus.isLoggedIn());
`
that seems to resolve in an empty object.
What is the best way to get logged in user's data on a refresh?

[2020-03-02 14:30] rijkvanzanten commented on #121
@gianniskarmas You can use the `getMe` method to retrieve the current user. If that method throws a 404 error, it's safe to assume you're not logged in

[2020-03-03 01:39] markus-mnm opened #150 "file upload problem directus v8.5.5 vs sdk-js v6.0.4"
# 🐞 Bug report

### Is this a regression?
Yes, Directus app v8.5.5  file uploads work for us with sdk-js v6.0.2.

### Description

This is more for your information than a bug and doesn't necessarily require fixing, since it depends on the circumstance.

We are building our own Directus container and therefore are building the app.
We were seeing some file upload problems on that self-build versio

[2020-03-09 14:40] MathiRa opened #154 "Option Files & Thumbnails Broken"
# Bug Report

## Steps to Reproduce

1. Go to 'Settings->Global Settings'
2. Click on 'Default Limit' and change to 15.
3. Go to some 'Collections' that contains field type **file**
3.1 Try upload an image. You can upload but it will not show the preview.

##  Screenshots
**If Settings is by default you could see the following settings**

![image](https://user-images.githubusercontent.com/13860804

[2020-03-09 14:42] MathiRa commented on #154
Hi, how are you? I believe that I found the fix to this issue but I don't know how to continue the publishing process because it should be done in project Directus-SDK.
The function **getSettings();** is called in a compiled file js in the Directus project. I understand that to get the application settings Directus calls the function in the following way **await api.getSettings();** and I understa

[2020-03-09 14:48] rijkvanzanten commented on #154
@MathiRa Wanna open a PR with a fix for this? 🙂

[2020-03-09 14:58] MathiRa commented on #154
Yes I will open new PR with this fix in a few minutes.
Thanks.

[2020-03-09 15:28] MathiRa commented on #154
@rijkvanzanten I created the fork in the following link: [156](https://github.com/directus/sdk-js/pull/156)

Regards.

[2020-03-09 15:37] rijkvanzanten commented on #154
Fixed in #156

[2020-03-09 15:37] #154 closed

[2020-03-17 14:16] mukundrd commented on #67
Make sure "project" collection has got required access to be read.

[2020-03-19 08:34] realpasha opened #160 "Calls of getCollectionRelations failing"
# 🐞 Bug report
Using the SDK's call `getCollectionRelations(collection, params = {})` fails, because the naming of the attributes in the relations table has changed:
`collection_a` -> `collection_many`
`collection_b` -> `collection_one`

_(I could not verify the directus api version, when the naming of these attributes was changed in the relations table)_

## 🔬 Minimal Reproduction
[code]

## 🔥 Ex

[2020-03-19 13:29] rijkvanzanten commented on #160
Fixed in #161

[2020-03-19 13:29] #160 closed

[2020-03-23 16:56] jooola opened #163 "Change fixed depencies versions"
The SDK should not rely on fixed dependencies versions. Any patches (including security patches) will not be included in new releases.

This feels like we don't want to keep dependencies up to date.

[2020-03-23 17:06] jooola opened #164 "Add e2e testing"
I'm gonna be redundant with this ticket, but I feel I can start proposing the work I made regarding e2e testing on the Gatsby-source project.

Some background:
https://github.com/directus/gatsby-source/issues/2
https://github.com/directus/gatsby-source/pull/8
https://github.com/directus/sdk-python/issues/16

I propose to add e2e testing for this SDK using the same tools I used for Gatsby-source.

[2020-03-23 18:39] rijkvanzanten commented on #164
I don't think e2e testing in that sense makes sense for the SDK, as the SDK itself doesn't do anything with the returned data from the API. Testing the data in the SDK basically means testing the SDK. Having unit tests that test if the SDK calls the right endpoints with the passed data should be more than sufficient for the SDK itself.

We should instead focus our efforts on setting up e2e tests f

[2020-03-24 10:12] Castafiore opened #165 "[Axios request timeout] increment the timeout value"
I want to upload a large file (about 2 GB), but every time it failed because of 10 minutes timeout limitation, so could you increment the timeout value of Axios instance in API.ts so that it can allow 30 minutes api call?

[2020-03-24 14:06] rijkvanzanten commented on #165
@Castafiore feel free to open a PR for that 👍

[2020-03-24 15:01] Castafiore commented on #165
@rijkvanzanten Submitted a new [PR](https://github.com/directus/sdk-js/pull/166), please review it. And if it is confirmed, could that be applied immediately on directus repo?

[2020-03-24 15:39] rijkvanzanten commented on #165
I can merge and deploy it as the SDK to npm right away, but I can't push out a whole Directus release for this change without further testing. For one, I'm not sure if the API will handle uploads of that size properly without https://github.com/directus/api/pull/1776 tested and merged.

[2020-03-24 15:58] Castafiore commented on #165
@rijkvanzanten I understand that any change needs further testing, merge and deploy as SDK to npm is good for now, thanks! One more question: Once the change is deployed to npm, I want to clone the directus/app repo to local and build it from source, then I place the built `dist` folder to my local directus/public, then rename it to admin so it serves as admin app. Is this way possible ?

[2020-03-24 15:59] rijkvanzanten commented on #165
Yup! That should work as expected :+1:

[2020-03-24 16:01] Castafiore commented on #165
Cool, thanks. I will try it after the change is deployed to npm.

[2020-03-25 02:01] Castafiore commented on #165
Hi @rijkvanzanten Could you merge and deploy the change as SDK to npm if you have time?

[2020-03-25 13:19] rijkvanzanten commented on #165
Yeah, see my comment on the PR 👍

[2020-03-26 15:01] Castafiore commented on #165
@rijkvanzanten Saw it, thanks.

[2020-03-28 18:33] Kematia commented on #113
It seems to me that config.storage is undefined? It is defined correctly in the internalConfiguration and the api.

![Screen Shot 2020-03-28 at 19 27 22](https://user-images.githubusercontent.com/17851386/77830701-97595280-712a-11ea-8959-f511036bf2a1.png)

I tried to give a look at Configuration.ts in the sdk srouce but it's a bit above my paygrade for now, as you can see lol

![Screen Shot 2020-0

[2020-03-28 18:37] Kematia commented on #113
It seems to me that config.storage is undefined? It is defined correctly in the internalConfiguration and the api.

![Screen Shot 2020-03-28 at 19 27 22](https://user-images.githubusercontent.com/17851386/77830701-97595280-712a-11ea-8959-f511036bf2a1.png)

I tried to give a look at Configuration.ts in the sdk srouce but it's a bit above my paygrade for now, as you can see lol

![Screen Shot 2020-0

[2020-03-29 16:27] Kematia commented on #147
I opened a PR, don't know if it's the proper way of fixing it but it passes tests and works on a test install, let me know when you can review it!

[2020-03-29 20:28] #147 closed

[2020-03-30 14:16] Kematia commented on #113
![Screen Shot 2020-03-30 at 16 14 26](https://user-images.githubusercontent.com/17851386/77922652-972f9300-72a1-11ea-9460-c3ea5d770ef1.png)

I *think* I've found the issue, the storage is not passed correctly to the configuration constructor from the sdk init, I've hacked it to accept the storage passed from the initialization (ie: window.sessionStorage) and it now persits and works as expected.

[2020-03-30 17:38] rijkvanzanten commented on #113
Sounds good @Kematia! I'm around on Slack whenever you need me. It's time to spend some quality time cleaning up the SDK source a bit soon. I'm very busy on [the app](https://github.com/directus/app-next/) right now, so I'd love some help with that

[2020-03-31 13:11] Kematia opened #169 "sdk-js not updating in npm"
Hi! Looks like 0.6 and 0.7 but did not publish on npm, which is stuck on 0.5: https://www.npmjs.com/package/@directus/sdk-js

[2020-03-31 15:32] rijkvanzanten commented on #169
Good catch, CI was acting up 👍

[2020-03-31 15:32] #169 closed

[2020-04-04 01:56] Kematia commented on #113
Guess this should fix the cookies on chrome?
https://blog.chromium.org/2020/04/temporarily-rolling-back-samesite.html

[2020-04-09 09:13] nathannau opened #172 "File Upload (bad baseUrl)"
When uploading file the request go to bad host.

File SDK.ts (434)
[code]
if is like :
` config = { url:'/', project:'toto' } `
the request will be :
`...post('//toto/files', data, {...`

Rolve :
Prefer use `this.api.post` in place of `this.api.xhr.post`

[2020-04-09 11:25] jigneshbhavani opened #174 "No method for reset password"
I'm trying to reset the password for directus_users. I checked the documentation and sdk as well but I couldn't find the method for resetting the password after requesting the token.
`client.requestPasswordReset(email)` used to request the token.

There should be another method for resetting the password such as.
`client.resetPassword(params);` that accept the token, password parameters and uses E

[2020-04-09 21:11] rijkvanzanten commented on #113
Fixed in #170

[2020-04-09 21:15] rijkvanzanten commented on #172
Fixed in #173

[2020-04-09 21:15] #172 closed

[2020-04-09 21:44] rijkvanzanten commented on #174
That makes sense, however, the `requestPasswordReset` method sends an email to the user with a link to the app, so when you're using the SDK, there's no way of getting that token in the first place is there?

[2020-04-10 09:34] pgegenfurtner commented on #174
@rijkvanzanten yes there is. Couple weeks ago I implemented an option to send an optional reset_url with the `requestPasswordReset`. That way you would get the token and could use a `resetPassword` method (https://docs.directus.io/api/authentication.html#request-a-password-reset)

[2020-04-10 12:51] rijkvanzanten commented on #174
Ahh you're absolutely right @pgegenfurtner!

[2020-04-11 20:51] jigneshbhavani commented on #174
@pgegenfurtner Exactly! In that case, Directus SDK users can use the `resetPassword` method. Mobile application users can also be able to use deep-link to reset the password in app.
@rijkvanzanten  Appreciate if you consider this request for a new method in SDK.

[2020-04-13 01:46] rijkvanzanten commented on #174
@jigneshbhavani do you wanna open a PR to add this in?

[2020-04-15 11:25] JonathanSchndr commented on #113
@rijkvanzanten can you publish this to https://www.npmjs.com/package/@directus/sdk-js ?

[2020-04-15 13:37] rijkvanzanten commented on #113
Published as v6.1.0

[2020-04-16 11:11] pgegenfurtner commented on #113
Latest version on npm is v6.0.8 😅

[2020-04-16 11:21] pgegenfurtner commented on #174
I've made a PR which adds this method

[2020-04-16 14:19] rijkvanzanten commented on #113
☹️

CI/CD is great.. until it's not.

[2020-04-16 14:28] JonathanSchndr commented on #113
https://github.com/marketplace/actions/publish-to-npm :)

[2020-04-16 14:46] rijkvanzanten commented on #113
yeah, we have that in place actually. Turns out one of the tests failed on the ci, but succeeded on my local ᕕ( ᐛ )ᕗ

[2020-04-16 16:00] #174 closed

[2020-04-16 16:09] rijkvanzanten commented on #113
Ok published for real this time https://github.com/directus/sdk-js/runs/592744404?check_suite_focus=true

http://npmjs.com/@directus/sdk-js

[2020-04-22 14:30] UnniKrishnaPanicker opened #176 "cookie mode Not Working"
I am using directus sdk in my react app.When using mode "jwt" my token get expires after some time. So i tried to use mode "cookie". But getting error after login.

I tried with directus sdk 6.0.1 and  6.1.1

Configuration code for the same:

[code]

As per the documentation for using cookie mode,

[code]
and this didn't worked for me. and I altered like this.

[code]
and then the request executed

[2020-04-22 15:02] Kematia commented on #176
Can you check the developer console if you are on Chrome? There were some issues with [Chrome blocking cookies without SameSite attribute](https://blog.chromium.org/2020/04/temporarily-rolling-back-samesite.html).

But the localStorage/sessionStorage should work, it does on a couple of my projects
check #113

[2020-04-22 20:15] rijkvanzanten commented on #176
Also, the Directus app itself uses the SDK with Cookie mode, so it surely works there 🙂

[2020-04-23 03:59] UnniKrishnaPanicker commented on #176
@Kematia  I tried on firefox and chrome. The exists on both case.

[2020-04-23 10:49] Kematia commented on #176
Did you check the developer console? Firefox should not block cookies right now. Can you send us the details of the XHR request?

[2020-04-23 14:05] UnniKrishnaPanicker commented on #176
@Kematia
Please see the XHR request detail here. [https://gist.github.com/UnniKrishnaPanicker/afb43f836bc9ce19df3147d6243ae071](url)

[2020-05-27 07:23] dennis-f commented on #176
It's just a mistake in the documentation. `login()` expects credentials and options and mode is not part of `ILoginCredentials`, but rather part of `ILoginOptions`. So documentation needs an update.

[2020-05-27 14:16] benhaynes commented on #176
Thanks @dennis-f! Would it be possible to submit a quick PR for the change to correct this?

[2020-06-08 14:58] tomasz-io commented on #163
I second that request 👍

I'm working on a project which relies on[ xhr-mock](https://github.com/jameslnewell/xhr-mock/tree/master/packages/xhr-mock) for testing. Axios 0.19.0 introduced an [issue](https://github.com/axios/axios/issues/2195) that broke xhr-mock. This was [patched](https://github.com/axios/axios/releases/tag/0.19.1) in Axios 0.19.1, but Directus SDK uses a fixed version of Axios 0.1

[2020-06-14 14:23] tieftontier commented on #113
@rijkvanzanten
For me it is still not working to automatically persist jwt-token in localStorage with angular & directus-sdk.
I have tried so many things, but on reload the authentication is gone. I have set up a test-project to make it as easy as possible:

[code]

I tried to use `storage: window.localStorage as any` as I get the following error, when using `storage: window.localStorage` as propo

[2020-06-14 18:57] JonathanSchndr commented on #113
@tieftontier
try to add: persist: true

[2020-06-16 11:49] tieftontier commented on #113
@JonathanSchndr
I already tried `persist: true`
but unfortunately nothing changed...

[2020-08-06 16:51] pwFoo opened #253 "Uncaught TypeError: DirectusSDK is not a constructor"
Hi,

I used the old SDK version linked in the documentation: https://docs.directus.io/guides/js-sdk.html
[code]

I tried to update to the latest version found here:
https://unpkg.com/browse/@directus/sdk-js/dist/umd/directus-sdk.js

Now I get the error message
[code]

There is no documentation about changes and how to use the latest SDK version?!

[2020-08-26 00:31] Demonicious opened #270 "client.getMe() not working after client.login() using `mode: cookie` in a NodeJS Environment."
I've set up a Directus Project (localhost) and to consume my API on my application, I'm using the Directus SDK in a NodeJS Application.

**Im using Sapper, which is a Framework like Next.js**
In Sapper the `export/import` syntax works and is converted into normal `const module = require('mod')` syntax when you build the server, So that should not be an issue. Also note that the code im showing is

[2020-09-03 13:09] pierre-H commented on #113
same problem :'(

[2020-09-06 13:16] #270 closed

[2020-09-06 13:30] cliqer commented on #270
@Demonicious can you please elaborate on how you solved this and what was the problem?

[2020-09-24 19:59] michapixel commented on #113
still a problem ...

[2020-09-25 08:38] michapixel commented on #121
shouldn't that return 403?

[2020-09-25 08:48] michapixel commented on #176
Is it really *that* hard to update docs?
It's still wrong in there.
And while on it: Why options anyway? And when you really want to split that info, why is 'persit' still "allowed" (looked up) in ILoginCredentials too? And then it's put in the ILoginBody anyway ;)

Btw: cookie can't be read/shown by js, okay, but shouldn't i see it in the browsers dev-tools?
I have no persistance neither jwt nor

[2020-09-25 12:18] rijkvanzanten commented on #176
@michapixel this is all free and open source software. If you see something that needs fixing, please fix it yourself or open an issue and hope that somebody else will fix it for you out of the kindness of their heart.

[2020-09-25 12:21] rijkvanzanten commented on #121
@michapixel depends on how you see the request.

If you're not logged in, there is no "me" to be found, so a resource not found feels appropriate to me too.